<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="profileTo" type="ru.javaprojects.projector.users.to.ProfileTo"*/-->

<th:block th:replace="~{fragments/main::page(title=#{profile},appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2 flex-nowrap"  style="font-size: 1.5em;">
                <li class="breadcrumb-item text-truncate">
                    <a th:href="@{/}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-home me-1"></i><span th:text="#{home}">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item text-truncate">
                    <a th:href="@{/profile}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" th:text="#{profile}">
                        Profile
                    </a>
                </li>
                <li class="breadcrumb-item text-truncate active" aria-current="page" th:text="#{edit}">Edit</li>
            </ol>
        </nav>

        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6">
                <div class="card shadow-sm rounded-4 bg-light-subtle">
                    <form th:action="@{/profile}" method="post" th:object="${profileTo}" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:if="${profileTo.avatar?.fileName != null}" th:field="*{avatar.fileName}">
                        <input type="hidden" th:if="${profileTo.avatar?.fileLink != null}" th:field="*{avatar.fileLink}">
                        <input type="hidden" th:if="${profileTo.avatar?.inputtedFileBytes != null}"
                               th:field="*{avatar.inputtedFileBytes}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-5 pe-sm-0 d-flex align-items-start">
                                    <input type="file" accept="image/*" th:field="*{avatar.inputtedFile}"
                                           hidden class="element-image-input"
                                           onchange="previewImage($(this))"/>

                                    <img th:if="${profileTo.avatar != null &&
                                           (profileTo.avatar.fileLink != null || profileTo.avatar.inputtedFileBytes != null)}"
                                         th:src="@{${profileTo.avatar.getSrc()}}"
                                         class="img-fluid" style="width: 165px; height: 165px; border-radius: 10px;">

                                    <img th:if="${profileTo.avatar == null || (profileTo.avatar.fileLink == null &&
                                                profileTo.avatar.inputtedFileBytes == null)}"
                                         th:src="@{/images/no-avatar.svg}"
                                         class="img-fluid" style="width: 165px; height: 165px; border-radius: 10px;" />

                                    <button type="button" th:title="#{change-image}"
                                            class="ps-1 change-img-btn btn btn-link opacity-75 link-underline-opacity-0
                                                link-secondary pt-0"
                                            onclick="$(this).siblings('input').click()"><i class="fa-solid fa-pencil"></i>
                                    </button>
                                </div>
                                <div class="col-12 col-sm-7 ps-sm-0">
                                    <div class="mb-3 mt-3 mt-sm-0">
                                        <div class="input-group">
                                            <span class="input-group-text bg-secondary-subtle" style="min-width: 68px;" th:text="#{name}">Name</span>
                                            <input type="text" id="nameInput" th:field="*{name}"
                                                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                   required th:placeholder="#{name}" />
                                        </div>
                                        <span th:if="${#fields.hasErrors('name')}">
                                            <ul>
                                                <li class="text-danger text-start" th:each="err : ${#fields.errors('name')}"
                                                    th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text bg-secondary-subtle" style="min-width: 68px;" th:text="#{email}">Email</span>
                                            <input type="text" id="emailInput" th:field="*{email}"
                                                   th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                                   required th:placeholder="#{email}" />
                                        </div>
                                        <span th:if="${#fields.hasErrors('email')}">
                                            <ul>
                                                <li class="text-danger text-start" th:each="err : ${#fields.errors('email')}"
                                                    th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="btn-toolbar float-end mt-sm-3 pt-sm-1">
                                        <button class="btn btn btn-secondary" type="button" onclick="cancel()" th:text="#{cancel}">Cancel</button>
                                        <button class="btn btn btn-primary ms-2" type="submit" th:text="#{save}" style="min-width: 72px;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/cancel-button.js?v=1"></script>
        <script>
            function previewImage(imageInput) {
                let files = imageInput.prop('files');
                if (files.length) {
                    let fileReader = new FileReader();
                    fileReader.onload = function (event) {
                        imageInput.siblings('img').attr('src', event.target.result).attr('hidden', false);
                    }
                    fileReader.readAsDataURL(files[0]);
                } else {
                    imageInput.siblings('img').attr('src', '/images/no-avatar.svg').attr('hidden', false);
                }
            }
        </script>
    </ownScript>
</th:block>
