<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="user" type="ru.javaprojects.projector.users.model.User"*/-->

<th:block th:replace="~{fragments/main::page(title='Profile',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2"  style="font-size: 1.5em;">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>

        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6">
                <div class="card shadow-sm rounded-4 bg-light-subtle">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10 col-sm-11">
                                <div class="row">
                                    <div class="col-12 col-sm-5 col-xxl-4">
                                        <img class="img-fluid" style="width: 165px; height: 165px; border-radius: 10px;"
                                             th:src="@{${user.avatar != null ? user.avatar.getSrc() : '/images/no-avatar.svg'}}" />
                                    </div>
                                    <div class="col-12 col-sm-7 col-xxl-8 ps-sm-0 mt-3 mt-sm-1">
                                        <div class="mb-1 position-relative">
                                            <span class="h4" th:text="${user.name}" id="userName">Name</span>
                                            <span class="badge rounded-pill bg-danger-subtle text-dark" style="position: absolute; margin-top: -5px;">Admin</span>
                                        </div>
                                        <div th:text="${user.email}" class="mb-1">Email</div>
                                        <div class="small" th:text="'Registered: ' + ${#dates.format(user.registered, 'dd.MM.yyyy HH:mm')}" style="font-style: italic">Registered</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-sm-1 ps-0 text-end">
                                <button type="button"
                                        class="btn btn-link link-secondary link-underline-opacity-0 p-0 dropdown-toggle"
                                        title="Edit" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a type="button" class="dropdown-item" th:href="@{/profile/edit}">Edit profile</a></li>
                                    <li><button class="dropdown-item" data-bs-toggle="modal"
                                                data-bs-target="#changePasswordModal">Change password</button></li>
                                </ul>
                            </div>
                        </div>

                        <div class="btn-toolbar float-end" style="margin-top: -31px; position: relative">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-sm btn-outline-secondary ms-2" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change password modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h5 class="modal-title">Change password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form onsubmit="return false;">
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="currentPassword" required
                                           placeholder="Current password" />
                                    <label for="currentPassword" class="text-muted">Current password</label>
                                </div>
                            </div>
                            <div class="input-group mt-3">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" required
                                           placeholder="New password" />
                                    <label for="password" class="text-muted">New password</label>
                                </div>
                            </div>
                            <div class="input-group mt-3">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="repeatPassword" required
                                           placeholder="Repeat password" />
                                    <label for="repeatPassword" class="text-muted">Repeat password</label>
                                </div>
                            </div>
                            <span id="passwordMatchError" class="text-danger text-start"></span>
                        </div>
                        <div class="float-end pe-3 pb-3">
                            <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" onclick="changePassword()" id="confirmBtn">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script>
            sessionStorage.removeItem('prevUrl');
        </script>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/profile.js?v=1"></script>
        <script src="/js/check-passwords-match.js?v=1"></script>
    </ownScript>
</th:block>
