<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="projects" type="java.util.List"*/-->
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->

<th:block th:replace="~{fragments/main::page(title=#{project.projects},appMain=~{::appMain}, ownScript=~{::ownScript}, activeMenuItem=${ {'projects', 'management'} })}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!--Add button -->
        <div class="bg-light px-2 rounded-top-1 border-top border-start border-end border-secondary-subtle"
             th:classappend="${projects.isEmpty() ? 'rounded-1 border-bottom' : ''}">
            <div class="row row-cols-1 row-cols-sm-2 align-items-center">
                <div class="col-7 text-start">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb"  style="font-size: 1.5em;">
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="fa-solid fa-layer-group me-1"></i><span th:text="#{project.projects}"></span>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-5">
                    <div class="float-end">
                        <a th:href="@{/management/projects/add}" type="button" th:title="#{project.add}"
                           class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Projects table -->
        <span th:if="${projects.isEmpty()}">
            <h5 class="alert alert-warning mt-2" th:text="#{project.no-projects-found} + '.'">No projects found.</h5>
        </span>

        <div th:if="${!projects.isEmpty()}" class="table-responsive text-nowrap">
            <table class="table table-hover table-bordered">
                <thead class="table-light thead-border-top-none">
                <tr>
                    <th class="col-3 border-right-none" th:text="#{name}">Name</th>
                    <th class="col-1 text-center border-right-none" th:text="#{logo}">Logo</th>
                    <th class="col-2 border-right-none" th:text="#{project.dev-period}">Dev period</th>
                    <th class="col-3 border-right-none" th:text="#{architecture}">Architecture</th>
                    <th class="col-2 border-right-none" th:text="#{priority}">Priority</th>
                    <th class="col-1 text-center" th:text="#{actions}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}" th:id="'row-' + ${project.id}" class="align-middle table-row">
                    <td th:text="${project.name}"></td>
                    <td class="text-center py-1">
                        <img th:src="@{'/' + ${project.logo.fileLink}}" th:alt="${project.logo.fileName}" width="32" height="32" />
                    </td>
                    <td th:text="${#temporals.format(project.startDate, 'dd.MM.yyyy') + ' - ' + #temporals.format(project.endDate, 'dd.MM.yyyy')}"></td>
                    <td th:text="${project.architecture.name}"></td>
                    <td th:text="#{'priority.' + ${project.priority.name.toLowerCase()}}"></td>
                    <td class="text-center">
                        <a th:href="@{'/management/projects/' + ${project.id}}" type="button" th:title="#{project.show}"
                           class="btn-link link-underline-opacity-0 link-secondary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <a th:href="@{'/management/projects/edit/' + ${project.id}}" type="button" th:title="#{project.edit}"
                           class="btn-link link-underline-opacity-0 link-success ms-3">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <span class="form-switch tiny ms-3">
                            <input type="checkbox" role="switch" class="form-check-input"
                                   style="cursor: pointer; margin-top: 6px;" th:checked="${project.enabled}"
                                   th:data-name="${project.name}"
                                   th:title="${project.enabled} ? #{project.disable} : #{project.enable}"
                                   th:onclick="|enableProject(this, '${project.id}')|" />
                        </span>
                        <a tabindex="0" type="button" class="btn-link link-danger ms-3" th:title="#{project.delete}"
                           data-bs-toggle="popover" data-bs-trigger="focus"
                           th:data-name="${project.name}"
                           th:data-bs-title="#{project.delete-this} + '?'"
                           th:data-bs-content="'<div class=&quot;text-center&quot;><button class=&quot;btn btn-sm btn-secondary me-2&quot;>' + #{cancel} + '</button>' +
                             '<button class=&quot;btn btn-sm btn-danger&quot; data-name=&quot;' + ${project.name} + '&quot; onclick=&quot;deleteProject(this, ' + ${project.id} + ')&quot;>' + #{delete} + '</button></div>'">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </appMain>

    <ownScript>
        <script>
            sessionStorage.removeItem('prevUrl');
        </script>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/table-content.js?v=1"></script>
        <script src="/js/projects.js?v=1"></script>
    </ownScript>
</th:block>
