<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en">
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="projects" type="java.util.List"*/-->
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.to.ProjectPreviewTo"*/-->

<th:block th:replace="~{fragments/main::page(title=#{project.projects},appMain=~{::appMain}, ownScript=~{::ownScript}, activeMenuItem=${ {'projects', 'management'} })}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Search field, Add button -->
        <div class="bg-light-subtle px-2 rounded-top-1 border-top border-start border-end border-light-subtle"
             th:classappend="${projects.isEmpty() ? 'rounded-1 border-bottom' : ''}">
            <div class="row row-cols-1 row-cols-sm-2 align-items-center pb-2 pb-sm-0">
                <div class="col-sm-5 text-start">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-2 mb-sm-3"  style="font-size: 1.5em;">
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="fa-solid fa-layer-group me-1"></i><span th:text="#{project.projects}"></span>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-sm-7">
                    <div class="btn-toolbar justify-content-start justify-content-sm-end">
                        <form class="d-flex" role="search" th:action="@{/management/projects}" method="get">
                            <div class="input-group">
                                <span class="input-group-text" id="searchUsers"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
                                <input class="form-control" th:name="keyword" th:value="${param.keyword}" type="search" th:placeholder="#{project.search} + '...'" aria-label="Search">
                            </div>
                        </form>
                        <a th:href="@{/projects/add}" type="button" th:title="#{project.add}"
                           class="btn btn-outline-primary ms-2"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Projects table -->
        <span th:if="${projects.isEmpty()}">
            <h5 class="alert alert-warning mt-2" th:text="#{project.no-projects-found} + '.'">No projects found.</h5>
        </span>

        <div th:if="${!projects.isEmpty()}" class="table-responsive text-nowrap">
            <table class="table table-hover table-bordered">
                <thead class="thead-border-top-none">
                <tr>
                    <th class="col-3 border-right-none bg-light-subtle" th:text="#{name}">Name</th>
                    <th class="col-2 border-right-none bg-light-subtle" th:text="#{project.author}">Author</th>
                    <th class="col-2 border-right-none bg-light-subtle" th:text="#{project.created}">Published</th>
                    <th class="col-2 border-right-none bg-light-subtle" th:text="#{architecture}">Architecture</th>
                    <th class="col-2 border-right-none bg-light-subtle" th:text="#{project.statistic}">Statistic</th>
                    <th class="col-1 text-center bg-light-subtle" th:text="#{actions}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}" th:id="'row-' + ${project.id}" class="align-middle table-row">
                    <td>
                        <a th:href="@{'/projects/' + ${project.id} + '/view'}" th:text="${project.name}"
                           class="link-underline-opacity-0 link-underline-opacity-75-hover link-body-emphasis"></a>
                    </td>
                    <td>
                        <a th:href="@{'/profile/' + ${project.author.id} + '/view'}" th:text="${project.author.name}"
                           class="link-underline-opacity-0 link-underline-opacity-75-hover link-body-emphasis"></a>
                    </td>
                    <td th:text="${#temporals.format(project.created, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${project.architecture.name}"></td>
                    <td>
                        <i class="fa-regular fa-comments text-info" th:title="#{comment.comments}"></i>
                        <span class="text-secondary-emphasis small" th:text="${project.commentsCount}"></span>
                        <i class="fa-solid fa-heart text-danger ms-3" th:title="#{likes}"></i>
                        <span class="text-secondary-emphasis small" th:text="${project.likesUserIds.size()}"></span>
                        <i class="fa-regular fa-eye ms-3" style="color: #a1a0a0;" th:title="#{project.views}"></i>
                        <span class="text-secondary-emphasis small" th:text="${project.views}"></span>
                    </td>
                    <td class="text-center">
                        <a th:href="@{'/projects/' + ${project.id} + '/data'}" type="button" th:title="#{project.show}"
                           class="btn-link link-underline-opacity-0 link-secondary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <a th:href="@{'/projects/edit/' + ${project.id}}" type="button" th:title="#{project.edit}"
                           class="btn-link link-underline-opacity-0 link-success ms-3">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <span class="form-switch tiny ms-3">
                            <input type="checkbox" role="switch" class="form-check-input"
                                   style="cursor: pointer; margin-top: 6px;" th:checked="${project.visible}"
                                   th:data-name="${project.name}"
                                   th:title="${project.visible} ? #{project.hide} : #{project.reveal}"
                                   th:onclick="|revealProject(this, '${project.id}')|" />
                        </span>
                        <a tabindex="0" type="button" class="btn-link link-danger ms-3" th:title="#{project.delete}"
                           data-bs-toggle="popover" data-bs-trigger="focus"
                           th:data-name="${project.name}"
                           th:data-bs-title="#{project.delete-this} + '?'"
                           th:data-bs-content="'<div class=&quot;text-center&quot;><button class=&quot;btn btn-sm btn-secondary me-2&quot;>' + #{cancel} + '</button>' +
                             '<button class=&quot;btn btn-sm btn-danger&quot; data-name=&quot;' + ${project.name} + '&quot; onclick=&quot;deleteProject(this, ' + ${project.id} + ')&quot;>' + #{delete} + '</button></div>'">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div th:if="${!projects.isEmpty()}" class="row">
            <div class="col-12 col-md-6">
                <div sd:pagination-summary="" id="paginationSummary">info</div>
            </div>

            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <nav>
                    <ul class="pagination justify-content-md-end" sd:pagination-split="7" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div th:if="${!projects.isEmpty()}" class="row">
            <div class="col text-md-end">
                <span th:text="#{info.show}">Show</span> <span sd:page-size-selector="javascript"></span> <span th:text="#{info.entries}">entries</span>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script>
            sessionStorage.removeItem('prevUrl');
            sessionStorage.removeItem('projectDataPagePrevUrl');
        </script>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/table-content.js?v=1"></script>
        <script src="/js/projects.js?v=1"></script>
    </ownScript>
</th:block>
