<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="projectTo" type="ru.javaprojects.projector.projects.to.ProjectTo"*/-->

<th:block th:replace="~{fragments/main::page(title='Projects',appMain=~{::appMain}, ownScript=~{::ownScript}, activeMenuItem=${ {'projects', 'management'} })}">
    <appMain>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2"  style="font-size: 1.5em;">
                <li class="breadcrumb-item">
                    <a th:href="@{/management/projects}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-layer-group me-1"></i>Projects
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${projectTo.isNew() ? 'Add' : 'Edit'}">Add/Edit</li>
            </ol>
        </nav>

        <!-- Create/Edit project card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="text-center" th:text="${projectTo.isNew()} ? 'New project' :
                            ${projectName == null ? projectTo.name : projectName}">Create/Edit project</h3>
                    </div>
                    <form th:action="@{/management/projects}" method="post" th:object="${projectTo}" enctype="multipart/form-data">
                        <div class="card-body text-start">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{logo.fileName}">
                            <input type="hidden" th:field="*{logo.fileLink}">
                            <input type="hidden" th:if="${projectTo.logo.inputtedFileBytes != null}"
                                   th:field="*{logo.inputtedFileBytes}">
                            <input type="hidden" th:field="*{cardImage.fileName}">
                            <input type="hidden" th:field="*{cardImage.fileLink}">
                            <input type="hidden" th:if="${projectTo.cardImage.inputtedFileBytes != null}"
                                   th:field="*{cardImage.inputtedFileBytes}">
                            <input type="hidden" th:field="*{dockerCompose.fileName}">
                            <input type="hidden" th:field="*{dockerCompose.fileLink}">
                            <input type="hidden" th:if="${projectTo.dockerCompose.inputtedFileBytes != null}"
                                   th:field="*{dockerCompose.inputtedFileBytes}">

                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text project-card-label">Name</span>
                                    <input type="text" id="nameInput" th:field="*{name}"
                                           th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                           required placeholder="Name" />
                                </div>
                                <span th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('name')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text project-card-label">Architecture</span>
                                        <select class="form-control selectpicker border" data-style="btn-white"
                                                name="architecture" title="Architecture" required>
                                            <option th:each="architecture : ${architectures}"
                                                    th:value="${architecture.id}"
                                                    th:text="${architecture.name}"
                                                    th:selected="${projectTo.architecture != null && projectTo.architecture.id == architecture.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text project-card-label">Dev start date</span>
                                        <input type="date" id="startDate" name="startDate" th:value="${projectTo.startDate}"
                                               class="form-control date-input" th:classappend="${projectTo.startDate == null ? 'text-muted' : ''}" required />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text project-card-label">Dev end date</span>
                                        <input type="date" name="endDate" th:value="${projectTo.endDate}"
                                               class="form-control date-input" th:classappend="${projectTo.endDate == null ? 'text-muted' : ''}" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text project-card-label">Priority</span>
                                        <select class="form-control selectpicker border" data-style="btn-white"
                                                th:field="*{priority}" title="Priority" required>
                                            <option th:each="priority : ${priorities}"
                                                    th:value="${priority.name}"
                                                    th:text="${priority}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text project-card-label">Visibility</span>
                                        <span class="form-control">
                                            <div class="form-switch">
                                                <input type="checkbox" role="switch" th:field="*{enabled}" class="form-check-input me-1"
                                                       style="cursor: pointer;" id="visibilityCheckbox" />
                                                <span th:text="${projectTo.enabled ? 'Visible to users' : 'Not visible to users'}" id="visibilityCheckboxDesc"></span>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <div th:hidden="${projectTo.logo?.fileLink == null && projectTo.logo?.inputtedFileBytes == null}"
                                         class="input-group" id="logoFilePreviewDiv">
                                        <span class="input-group-text project-card-label">Logo file</span>
                                        <div class="form-control py-1 text-start">
                                            <img th:src="@{${projectTo.logo?.getSrc()}}"
                                                 width="24" height="24" alt="" id="logoFilePreview" />

                                            <span th:text="${projectTo?.logo?.fileName}" id="logoFileName">File name</span>
                                            <a tabindex="0" type="button" class="float-end text-danger" title="Delete"
                                               onclick="deleteLogoFile()">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="logoFileInputDiv">
                                        <div th:if="${projectTo.logo?.fileLink == null && projectTo.logo?.inputtedFileBytes == null}"
                                             class="input-group custom-file-button">
                                            <label class="input-group-text bg-light project-card-label">Logo file</label>
                                            <input type="file" accept="image/*" th:field="*{logo.inputtedFile}"
                                                   class="form-control text-muted"
                                                   th:classappend="${#fields.hasErrors('logo')} ? 'is-invalid' : ''"
                                                   id="logoFileInput" required onchange="previewLogoFile()"/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('logo')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('logo')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div th:hidden="${projectTo.dockerCompose?.fileLink == null && projectTo.dockerCompose?.inputtedFileBytes == null}"
                                         class="input-group" id="dockerFilePreviewDiv">
                                        <span class="input-group-text project-card-label">Docker file</span>
                                        <div class="form-control py-1 text-start">
                                            <a th:href="@{${projectTo.dockerCompose?.getSrc()}}" id="dockerComposeFileRef"
                                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                               th:attr="download=${projectTo.dockerCompose?.fileName}"
                                               th:utext="'<i class=&quot;text-primary me-1 fa-brands fa-docker&quot;></i>' +
                                               ${projectTo.dockerCompose?.fileName}"
                                               target="_blank" title="Download file">File name</a>

                                            <a tabindex="0" type="button" class="float-end text-danger" title="Delete"
                                               onclick="deleteDockerFile()">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="dockerFileInputDiv">
                                        <div th:if="${projectTo.dockerCompose == null ||
                                            (projectTo.dockerCompose.fileLink == null && projectTo.dockerCompose.inputtedFileBytes == null)}"
                                             class="input-group custom-file-button">
                                            <label class="input-group-text bg-light project-card-label">Docker file</label>
                                            <input type="file" accept=".yaml,.yml" th:field="*{dockerCompose.inputtedFile}"
                                                   class="form-control text-muted"
                                                   id="dockerFileInput" onchange="previewDockerFile()"/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('dockerCompose')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('dockerCompose')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 align-items-center">
                                <div class="input-group">
                                    <span class="input-group-text project-card-label">Deployment URL</span>
                                    <a th:hidden="${projectTo.deploymentUrl == null}" th:href="${projectTo.deploymentUrl}"
                                       class="url-check position-absolute mt-1" style="right: 10px; z-index: 100;"
                                       title="Check deployment URL" id="deploymentUrlCheck" target="_blank">
                                        <i class="fa-solid fa-up-right-from-square ms-1"></i>
                                    </a>
                                    <input type="url" id="deploymentUrlInput" th:field="*{deploymentUrl}" class="url"
                                           th:classappend="${#fields.hasErrors('deploymentUrl')} ? 'form-control is-invalid' : 'form-control'"
                                           placeholder="Deployment URL" />
                                </div>
                                <span th:if="${#fields.hasErrors('deploymentUrl')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('deploymentUrl')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-3 align-items-center">
                                <div class="input-group">
                                    <span class="input-group-text project-card-label">Open API URL</span>
                                    <a th:hidden="${projectTo.openApiUrl == null}" th:href="${projectTo.openApiUrl}" class="url-check position-absolute mt-1" style="right: 10px; z-index: 100;"
                                       title="Check Open API URL" id="openApiUrlCheck" target="_blank"><i class="fa-solid fa-up-right-from-square ms-1"></i></a>
                                    <input type="url" id="openApiUrlInput" th:field="*{openApiUrl}" class="url"
                                           th:classappend="${#fields.hasErrors('openApiUrl')} ? 'form-control is-invalid' : 'form-control'"
                                           placeholder="Open API URL" />
                                </div>
                                <span th:if="${#fields.hasErrors('openApiUrl')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('openApiUrl')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-3 align-items-center">
                                <div class="input-group">
                                    <span class="input-group-text project-card-label">Backend src URL</span>
                                    <a th:hidden="${projectTo.backendSrcUrl == null}" th:href="${projectTo.backendSrcUrl}" class="url-check position-absolute mt-1" style="right: 10px; z-index: 100;"
                                       title="Check backend src URL" id="backendSrcUrlCheck" target="_blank"><i class="fa-solid fa-up-right-from-square ms-1"></i></a>
                                    <input type="url" id="backendSrcUrlInput" th:field="*{backendSrcUrl}" class="url"
                                           th:classappend="${#fields.hasErrors('backendSrcUrl')} ? 'form-control is-invalid' : 'form-control'"
                                           placeholder="Backend src URL" />
                                </div>
                                <span th:if="${#fields.hasErrors('backendSrcUrl')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('backendSrcUrl')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-3 align-items-center">
                                <div class="input-group">
                                    <span class="input-group-text project-card-label">Frontend src URL</span>
                                    <a th:hidden="${projectTo.frontendSrcUrl == null}" th:href="${projectTo.frontendSrcUrl}" class="url-check position-absolute mt-1" style="right: 10px; z-index: 100;"
                                       title="Check frontend src URL" id="frontendSrcUrlCheck" target="_blank"><i class="fa-solid fa-up-right-from-square ms-1"></i></a>
                                    <input type="url" id="frontendSrcUrlInput" th:field="*{frontendSrcUrl}" class="url"
                                           th:classappend="${#fields.hasErrors('frontendSrcUrl')} ? 'form-control is-invalid' : 'form-control'"
                                           placeholder="Frontend src URL" />
                                </div>
                                <span th:if="${#fields.hasErrors('frontendSrcUrl')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('frontendSrcUrl')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 mb-3">
                                    <div class="border rounded-2 ps-3 pe-4 pb-3 h-100">
                                        <div class="text-start text-muted tiny">
                                            Card image
                                        </div>
                                        <div class="d-flex align-items-start">
                                            <input type="file" accept="image/*" th:field="*{cardImage.inputtedFile}"
                                                   hidden class="element-image-input"
                                                   th:required="${projectTo.cardImage == null ||
                                                   (projectTo.cardImage.fileLink == null && projectTo.cardImage.inputtedFileBytes == null)}"
                                                   onchange="previewImage($(this))"/>

                                            <img th:hidden="${projectTo.cardImage == null && (projectTo.cardImage.getSrc() == null)}"
                                                 th:src="@{${projectTo.cardImage.getSrc()}}"
                                                 class="element-image rounded-2 mt-1 border"
                                                 style="cursor: zoom-in; max-width: 95%; max-height: 165px;"
                                                 th:data-filename="${projectTo.cardImage.fileName}"
                                                 onclick="showLargerImage($(this))" />

                                            <div class="empty-image-div border rounded-2 mt-2 mb-1 align-content-center text-center"
                                                 th:classappend="${#fields.hasErrors('cardImage')} ? 'border-danger' : ''"
                                                 style="height: 150px; width: 300px;"
                                                 th:styleappend="${projectTo.cardImage == null ||
                                                 (projectTo.cardImage.fileLink == null && projectTo.cardImage.inputtedFileBytes == null) ? '' : 'display: none;'}">
                                                    <button type="button" class="btn btn-outline-secondary"
                                                            onclick="$(this).parent().siblings('input').click()">
                                                        Choose image
                                                    </button>
                                            </div>

                                            <button type="button" th:hidden="${projectTo.cardImage == null ||
                                                    (projectTo.cardImage.fileLink == null && projectTo.cardImage.inputtedFileBytes == null)}"
                                                    class="change-img-btn btn btn-link opacity-75 link-underline-opacity-0 link-secondary pt-0"
                                                    title="Change image"
                                                    onclick="$(this).siblings('input').click()"><i class="fa-solid fa-pencil"></i>
                                            </button>
                                        </div>
                                        <span th:if="${#fields.hasErrors('cardImage')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('cardImage')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-3">
                                    <div class="border rounded-2 px-3 pb-3 h-100">
                                        <div class="text-start text-muted tiny">
                                            Technologies
                                        </div>
                                        <div id="technologiesPreviewDiv">
                                            <select class="form-control selectpicker border mt-1" data-style="btn-white"
                                                    id="technologiesSelector" data-dropup-auto="false"
                                                    name="technologiesIds" multiple data-selected-text-format="count > 3"
                                                    title="Technologies" required data-live-search="true">
                                                <option th:each="technology : ${technologies}"
                                                        th:value="${technology.id}"
                                                        th:text="${technology.name}"
                                                        th:data-name="${technology.name}"
                                                        th:data-filelink="${technology.logo.fileLink}"
                                                        th:data-url="${technology.url}"
                                                        th:selected="${projectTo.technologiesIds != null && projectTo.technologiesIds.contains(technology.id)}">
                                                </option>
                                            </select>

                                            <span th:each="technology : ${technologies}" th:if="${projectTo.technologiesIds?.contains(technology.id)}"
                                                  class="badge text-bg-light me-2 mt-2" th:id="${'techSpan-' + technology.id}">
                                                <a type="button" th:href="@{${technology.url}}" target="_blank"
                                                   class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark">
                                                    <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                                         width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-floating">
                                    <span class="position-absolute text-muted tiny" style="right: 10px;" id="characterCounter"
                                           th:text="*{(128 - (shortDescription == null ? 0 : shortDescription.length())) + ' characters left'}">Characters left</span>
                                    <textarea id="shortDescriptionInput" th:field="*{shortDescription}"
                                              th:class="${#fields.hasErrors('shortDescription')} ? 'form-control lh-base is-invalid' : 'form-control lh-base'"
                                              placeholder="Short description" style="height: 90px; white-space: pre-wrap;"
                                              maxlength="128" required></textarea>
                                    <label for="shortDescriptionInput" class="text-muted">Short description</label>
                                </div>
                                <span th:if="${#fields.hasErrors('shortDescription')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('shortDescription')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>

                            <!-- Description block -->

                            <div class="fw-bold text-info-emphasis mb-2">Description elements</div>
                            <div id="elementsBlock">
                                <div th:each="element, itemStat : ${projectTo.descriptionElementTos}"
                                     th:id="${'elementContainer-' + itemStat.index}" class="element-container mb-1">
                                    <input type="hidden" th:id="${'elementId-' + itemStat.index}"
                                           th:name="${'descriptionElementTos[' + itemStat.index + '].id'}"
                                           th:value="${element.id}"/>
                                    <input type="hidden" th:id="${'elementType-' + itemStat.index}"
                                           th:name="${'descriptionElementTos[' + itemStat.index + '].type'}"
                                           th:value="${element.type.name}"/>
                                    <input type="hidden" th:id="${'elementIndex-' + itemStat.index}"
                                           th:name="${'descriptionElementTos[' + itemStat.index + '].index'}"
                                           th:value="${element.index}"/>

                                    <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE ||
                                        element.type == T(ru.javaprojects.projector.projects.model.ElementType).PARAGRAPH}">
                                        <div class="form-floating">
                                            <div th:replace="~{:: element-actions-btn(addClass='position-absolute')}"></div>

                                            <textarea th:value="${element.text}"
                                                      th:name="${'descriptionElementTos[' + itemStat.index + '].text'}"
                                                      th:text="${element.text}"
                                                      th:id="${'elementText-' + itemStat.index}"
                                                      th:class="${#fields.hasErrors('descriptionElementTos[__${itemStat.index}__].text')} ?
                                                      'form-control lh-base is-invalid rounded-2' : 'form-control lh-base rounded-2'"
                                                      th:classappend="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE ? 'fw-medium' : ''}"
                                                      placeholder="Title" style="white-space: pre-wrap;"
                                                      th:styleappend="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE} ?
                                                      'height: 65px;' : 'height: 120px;'"
                                                      required></textarea>
                                            <label class="text-muted" th:text="${element.type}"></label>
                                        </div>
                                        <span th:if="${#fields.hasErrors('descriptionElementTos[__${itemStat.index}__].text')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('descriptionElementTos[__${itemStat.index}__].text')}"
                                                    th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="border rounded-2 ps-3 pe-2 pb-1"
                                         th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).IMAGE}">
                                        <div th:replace="~{:: element-actions-btn(addClass='float-end')}"></div>

                                        <div class="text-start text-muted tiny" th:text="${element.type}">Type</div>
                                        <div class="d-flex align-items-start">
                                            <input type="hidden" th:id="${'elementFileName-' + itemStat.index}"
                                                   th:if="${element.image?.fileName != null}"
                                                   th:name="${'descriptionElementTos[' + itemStat.index + '].image.fileName'}"
                                                   th:value="${element.image.fileName}"/>
                                            <input type="hidden" th:id="${'elementFileLink-' + itemStat.index}"
                                                   th:if="${element.image?.fileLink != null}"
                                                   th:name="${'descriptionElementTos[' + itemStat.index + '].image.fileLink'}"
                                                   th:value="${element.image.fileLink}"/>

                                            <input type="file" accept="image/*" th:id="${'elementImage-' + itemStat.index}"
                                                   th:name="${'descriptionElementTos[' + itemStat.index + '].image.inputtedFile'}"
                                                   hidden class="element-image-input" onchange="previewImage($(this))" />

                                            <input type="hidden" th:if="${element.image?.inputtedFileBytes != null}"
                                                   th:id="${'elementImageBytes-' + itemStat.index}"
                                                   th:name="${'descriptionElementTos[' + itemStat.index + '].image.inputtedFileBytes'}"
                                                   th:field="*{descriptionElementTos[__${itemStat.index}__].image.inputtedFileBytes}"/>

                                            <img th:if="${element.image != null}"
                                                 th:src="@{${element.image.getSrc()}}"
                                                 class="element-image rounded-2 mt-2 mb-1 border"
                                                 style="cursor: zoom-in; max-width: 95%; max-height: 150px;"
                                                 th:data-filename="${element.image.fileName}"
                                                 onclick="showLargerImage($(this))" />

                                            <button type="button" class="change-img-btn btn btn-link opacity-75 link-underline-opacity-0 link-secondary pt-1"
                                                    title="Change image"
                                                    onclick="$(this).siblings('input').click()"><i class="fa-solid fa-pencil"></i>
                                            </button>

                                            <div class="empty-image-div border rounded-2 mt-2 mb-1 align-content-center text-center"
                                                 style="display: none; height: 150px; width: 300px;">
                                                <button type="button" class="btn btn-outline-secondary"
                                                        onclick="$(this).parent().siblings('input').click()">
                                                    Choose image
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Add new element button -->
                            <div>
                                <button  type="button" class="btn btn-sm btn-outline-success dropdown-toggle mt-1"
                                         data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-plus"></i> Add
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button type="button" class="dropdown-item" onclick="addNewElement('Title')">
                                            Title
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item" onclick="addNewElement('Paragraph')">
                                            Paragraph
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item" onclick="addNewElement('Image')">
                                            Image
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-secondary" type="button" onclick="cancel()">Cancel</button>
                            <button class="btn btn-primary ms-1" type="submit"
                                    th:text="${projectTo.isNew()} ? 'Create' : '&nbsp;&nbsp;Save&nbsp;&nbsp;'"
                                    onclick="checkImageElementsNotEmpty()">Create/Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Image modal -->
        <div class="modal fade" id="largerImageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <span id="largerImageModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="" id="largerImage" class="border" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <!-- Element actions button fragment -->
    <div th:fragment="element-actions-btn">
        <button style="right: 10px;" type="button"
                class="btn btn-link link-secondary opacity-75 link-underline-opacity-0 p-0 dropdown-toggle"
                th:classappend="${addClass}"
                title="Edit" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <button type="button" class="dropdown-item" onclick="moveElementUp(this)">
                    <i class="fa-solid fa-up-long text-warning"></i> Move up
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item" onclick="moveElementDown(this)">
                    <i class="fa-solid fa-down-long text-warning"></i> Move down
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item" onclick="deleteElement(this)">
                    <i class="fa-solid fa-xmark text-danger"></i> Delete
                </button>
            </li>
        </ul>
    </div>

    <ownScript>
        <script src="/js/cancel-button.js?v=1"></script>
        <script src="/js/bootstrap-selector-style.js?v=1"></script>
        <script src="/js/project-form.js?v=1"></script>
        <script src="/js/common.js?v=1"></script>
    </ownScript>
</th:block>
