<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="footer">
    <footer class="text-white bg-dark bg-gradient">
        <div class="container text-center">
            <div class="pt-3">
                <img th:src="@{/images/projector-logo.svg}" alt="Logo" width="32" height="32" class="mb-2">
                <span class="h4">Projector</span>
                <p th:text="#{info.app-description}">
                    Projector is a software that allows you to easily and efficiently manage
                    information about your projects.
                </p>
            </div>
        </div>
        <div class="text-center pb-4" data-bs-theme="dark">
            © 2024 <span th:text="#{info.designed-by}"></span> <a class="link-body-emphasis" href="https://javaprojects.ru">Java Projects</a>
        </div>
    </footer>
</div>
</html>
