<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--/*@thymesVar id="authUser" type="ru.javaprojects.projector.users.AuthUser"*/-->

<div th:fragment="header">
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-lg container-fluid">
        <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/projector-logo.svg}" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
          <span class="h4 fw-bold">Projector</span>
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                  aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="management">
                Management
              </a>
              <ul class="dropdown-menu w-50">
                <li><a class="dropdown-item" th:href="@{/users}" id="users">Users</a></li>
                <li><a class="dropdown-item" th:href="@{/projects}" id="projects">Projects</a></li>
                <li class="dropend">
                  <a class="dropdown-item dropdown-toggle" id="reference" style="cursor: pointer;">Reference</a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a class="dropdown-item" th:href="@{/references/technologies}" id="technologies">Technologies</a></li>
                    <li><a class="dropdown-item" th:href="@{/references/architectures}" id="architectures">Architectures</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Project_1</a></li>
                <li><a class="dropdown-item" href="#">Project_2</a></li>
                <li><a class="dropdown-item" href="#">Project_3</a></li>
                <li><a class="dropdown-item" href="#">Project_4</a></li>
                <li><a class="dropdown-item" href="#">Project_5</a></li>
              </ul>
            </li>
            <li class="nav-item d-lg-none">
              <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login}">Login</a>
              <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
          </ul>
          <a sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button" class="btn btn-outline-warning d-none d-lg-block px-3 ">Login</a>
          <a sec:authorize="isAuthenticated()" th:href="@{/profile}" type="button" class="btn btn-success btn-circle d-none d-lg-block fw-bold"
             th:title="${authUser != null ? authUser.user.name : ''}"
             th:text="${authUser != null ? #strings.substring(authUser.user.name, 0, 1) : ''}"></a>
        </div>
      </div>
    </nav>
  </header>
</div>
</html>
