<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--/*@thymesVar id="authUser" type="ru.javaprojects.projector.app.AuthUser"*/-->

<div th:fragment="header">
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-lg container-fluid">
        <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/projector-logo.svg}" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
          <span class="h4 fw-bold">Projector</span>
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                  aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                 aria-expanded="false" id="management">
                Management
              </a>
              <ul class="dropdown-menu w-50">
                <li><a class="dropdown-item" th:href="@{/management/users}" id="users">Users</a></li>
                <li><a class="dropdown-item" th:href="@{/management/projects}" id="projects">Projects</a></li>
                <li class="dropend">
                  <a class="dropdown-item dropdown-toggle" id="reference" style="cursor: pointer;">Reference</a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a class="dropdown-item" th:href="@{/management/reference/technologies}" id="technologies">Technologies</a></li>
                    <li><a class="dropdown-item" th:href="@{/management/reference/architectures}" id="architectures">Architectures</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="projectsDropdown">
                Projects
              </a>
              <ul class="dropdown-menu">
                <li th:each="project : ${enabledProjects}">
                  <a class="dropdown-item" th:href="@{${'/projects/' + project.id}}" th:text="${project.name}"
                     th:id="${'project' + project.id}">Project_name</a>
                </li>
              </ul>
            </li>
            <li class="nav-item d-lg-none">
              <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login}">Login</a>
              <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
          </ul>
          <a sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button"
             class="btn btn-outline-warning d-none d-lg-block px-3 ">Login</a>
          <a sec:authorize="isAuthenticated()" th:href="@{/profile}" type="button" id="profileButton"
             class="d-none d-lg-block rounded-circle" style="width: 40px; height: 40px;"
             th:classappend="${authUser?.user.avatar == null ? 'btn btn-success fw-bold border border-light-subtle pt-2' : ''}"
             th:title="${authUser != null ? authUser.user.name : ''}">
                <span th:if="${authUser?.user.avatar == null}"
                      th:text="${authUser != null ? #strings.substring(authUser.user.name, 0, 1) : ''}"></span>
                <img th:if="${authUser?.user.avatar != null}" class="rounded-circle border border-light-subtle"
                     th:src="@{${authUser.user.avatar.getSrc()}}"
                     width="40" height="40"
                     onmouseenter="$(this).addClass('opacity-75')"
                     onmouseleave="$(this).removeClass('opacity-75')" />
          </a>
        </div>
      </div>
    </nav>
  </header>
</div>
</html>
