<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="action" type="java.lang.String"*/-->

<th:block th:replace="~{fragments/main::page(title='Sign in',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Login card -->
        <div class="row d-flex justify-content-center align-items-center pt-4 pt-sm-5">
            <div class="col-12 col-sm-8 col-md-6 col-xl-5 col-xxl-4">
                <div class="card shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-4 pt-3 text-center">
                        <h3>Sign in</h3>
                        <div th:if="${param.error}">
                            <p class="alert alert-danger col-12 p-2 text-center">
                                Bad credentials
                            </p>
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="input-group mt-3">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                <div class="form-floating">
                                    <input type="text" id="emailInput" name="username" class="form-control" required
                                           placeholder="E-mail"/>
                                    <label for="emailInput" class="text-muted">E-mail</label>
                                </div>
                            </div>
                            <div class="input-group mt-3">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" id="passwordInput" name="password" class="form-control" required
                                           placeholder="Password" />
                                    <label for="passwordInput" class="text-muted">Password</label>
                                </div>
                            </div>
                            <div class="form-check text-start mt-2">
                                <input class="form-check-input" type="checkbox" name="remember-me" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                            <div class="row mt-1">
                                <div class="col-7 col-lg-6 my-auto">
                                    <button class="btn btn-sm btn-link" type="button" data-bs-toggle="modal"
                                            data-bs-target="#forgotPasswordModal">Forgot your password?</button>
                                </div>
                                <div class="col-5 col-lg-6 d-grid">
                                    <button class="btn btn-primary py-2" type="submit">Sign in</button>
                                </div>
                            </div>
                        </form>

                        <div class="row mt-3">
                            <div class="col-5">
                                <hr>
                            </div>
                            <div class="col-2 mt-1">
                                OR
                            </div>
                            <div class="col-5">
                                <hr>
                            </div>
                        </div>
                        <p class="mt-1 mb-3">
                            Sign in with social networks
                        </p>
                        <a th:href="@{/oauth2/authorization/google}" type="button" class="btn btn-secondary me-3" title="Google">
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a th:href="@{/oauth2/authorization/vk}" type="button" class="btn btn-primary me-3" title="VK"
                           style="padding-left: 13px; padding-right: 13px;">
                            <i class="fa-brands fa-vk"></i>
                        </a>
                        <a th:href="@{/oauth2/authorization/yandex}" type="button" class="btn btn-danger me-3" title="Yandex"
                           style="padding-left: 16px; padding-right: 16px;">
                            <i class="fa-brands fa-yandex"></i>
                        </a>
                        <a th:href="@{/oauth2/authorization/github}" type="button" class="btn btn-dark me-3" title="GitHub">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a th:href="@{/oauth2/authorization/gitlab}" type="button" class="btn btn-warning" title="GitLab">
                            <i class="fa-brands fa-gitlab"></i>
                        </a>
                        <p class="mt-3 mb-0" style="font-size:0.8em">
                            New here? <a th:href="@{/register}">Create an account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Forgot password modal -->
        <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Forgot your password?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="forgotPasswordForm" onsubmit="return false;">
                        <div class="modal-body">
                            <span class="mb-1">Reset your password in three easy steps!</span>
                            <ol class="list-unstyled">
                                <li><span class="text-primary text-medium">1. </span>Enter your email address below</li>
                                <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                                <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                            </ol>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="email" required placeholder="Email" />
                                    <label for="email" class="text-muted">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" onclick="forgotPassword()">Reset password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Email sent Modal -->
        <div class="modal fade" id="emailSentModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Message was sent</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Password reset message was sent to your email.<br/>
                        To reset your password, follow instructions in it.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/login.js?v=1"></script>
    </ownScript>
</th:block>
