<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--/*@thymesVar id="user" type="ru.javaprojects.projector.users.model.User"*/-->

<th:block th:replace="~{fragments/main::page(title='Profile',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <h2 class="text-secondary font-weight-bold"><i class="fa-solid fa-address-card me-2"></i>Profile</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-2 mb-sm-0">
                            <div class="float-end">
                                <button type="button" class="btn btn-link link-secondary link-underline-opacity-0 p-0 dropdown-toggle" title="Edit" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" data-bs-toggle="modal"
                                           data-bs-target="#editProfileModal">Edit profile</button></li>
                                    <li><button class="dropdown-item" data-bs-toggle="modal"
                                           data-bs-target="#changeEmailModal">Change email</button></li>
                                    <li><button class="dropdown-item" data-bs-toggle="modal"
                                           data-bs-target="#changePasswordModal">Change password</button></li>
                                </ul>
                            </div>
                            <h4 th:text="${user.name}" id="userName">Name</h4>
                            <div th:text="'Email: ' + ${user.email}">Email</div>
                            <div sec:authorize="hasRole('ADMIN')"
                                 th:text="'Roles: ' + ${#strings.substring(user.roles, 1, #strings.length(user.roles) - 1)}">
                                Roles
                            </div>
                            <div th:text="'Registered: ' + ${#dates.format(user.registered, 'dd.MM.yyyy HH:mm')}">Registered</div>
                        </div>
                        <div class="btn-toolbar mt-2 mb-1 float-end">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-sm btn-outline-secondary ms-2" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit profile modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form onsubmit="return false;">
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="nameInput" required placeholder="Name" />
                                    <label for="nameInput" class="text-muted">Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary px-3" onclick="updateProfile()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Change password modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Change password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form onsubmit="return false;">
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" required
                                           placeholder="New password" />
                                    <label for="password" class="text-muted">New password</label>
                                </div>
                            </div>
                            <div class="input-group mt-2">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="repeatPassword" required
                                           placeholder="Repeat password" />
                                    <label for="repeatPassword" class="text-muted">Repeat password</label>
                                </div>
                            </div>
                            <span id="passwordMatchError" class="text-danger text-start"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning" onclick="changePassword()" id="confirmBtn">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Change email modal -->
        <div class="modal fade" id="changeEmailModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Change email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="forgotPasswordForm" onsubmit="return false;">
                        <div class="modal-body">
                            <span class="mb-1">Change your email in three easy steps!</span>
                            <ol class="list-unstyled">
                                <li><span class="text-primary text-medium">1. </span>Enter your new email address below</li>
                                <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                                <li><span class="text-primary text-medium">3. </span>Use the link to change your email</li>
                            </ol>
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="email" required placeholder="New email" />
                                    <label for="email" class="text-muted">New email</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" onclick="changeEmail()">Change email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/profile.js?v=1"></script>
        <script src="/js/check-passwords-match.js?v=1"></script>
    </ownScript>
</th:block>
