<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en">
<!--/*@thymesVar id="action" type="java.lang.String"*/-->
<!--/*@thymesVar id="user" type="ru.javaprojects.projector.users.model.User"*/-->
<!--/*@thymesVar id="users" type="java.util.List"*/-->

<th:block th:replace="~{fragments/main::page(title='Users',appMain=~{::appMain}, ownScript=~{::ownScript}, activeMenuItem=${ {'users', 'management'} })}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Search field, Add button -->
        <div class="row row-cols-1 row-cols-sm-2">
            <div class="col-sm-4 text-start">
                <h2 class="text-secondary font-weight-bold"><i class="fas fa-people-group me-2"></i>Users</h2>
            </div>
            <div class="col-sm-8 mb-2">
                <div class="btn-toolbar justify-content-start justify-content-sm-end">
                    <form class="d-flex" role="search" th:action="@{/users}" method="get">
                        <div class="input-group">
                            <span class="input-group-text bg-light" id="searchUsers"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
                            <input class="form-control" th:name="keyword" th:value="${param.keyword}" type="search" placeholder="Search users..." aria-label="Search">
                        </div>
                    </form>
                    <a th:href="@{/users/add}" type="button" class="btn btn-primary ms-2"><i class="fa-solid fa-plus"></i> Add</a>
                </div>
            </div>
        </div>

        <!-- Users table -->
        <span th:if="${users.isEmpty()}">
            <h5 class="alert alert-warning mt-2">No users found.</h5>
        </span>

        <div th:if="${!users.isEmpty()}" class="table-responsive text-nowrap">
            <table class="table table-hover table-bordered">
                <thead class="table-info">
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-3">Email</th>
                    <th class="col-1 text-center">Enabled</th>
                    <th class="col-2 text-center">Registered</th>
                    <th class="col-2">Roles</th>
                    <th class="col-1 text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" th:id="'row-' + ${user.id}" class="table-row">
                    <td th:text="${user.name}"></td>
                    <td class="text-truncate" th:text="${user.email}"></td>
                    <td class="text-center">
                        <div class="form-switch">
                            <input type="checkbox" role="switch" class="form-check-input" style="cursor: pointer;" th:checked="${user.enabled}"
                                   th:data-name="${user.name}" th:title="${(user.enabled ? 'Disable' : 'Enable') + ' user'}"
                                   th:onclick="|enableUser(this, '${user.id}')|" />
                        </div>
                    </td>
                    <td class="text-center" th:text="${#dates.format(user.registered, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${#strings.substring(user.roles, 1, #strings.length(user.roles) - 1)}"></td>
                    <td class="text-center">
                        <a th:href="@{'/users/edit/' + ${user.id}}" type="button" title="Edit user"
                           class="btn-link link-underline-opacity-0 link-success">
                            <i class="fa-solid fa-user-pen"></i>
                        </a>
                        <a type="button" class="btn-link link-underline-opacity-0 link-warning ms-3"
                           title="Change user password" data-bs-toggle="modal" data-bs-target="#changePasswordModal"
                           th:data-name="${user.name}"
                           th:data-id="${user.id}">
                            <i class="fa-solid fa-key"></i>
                        </a>
                        <a tabindex="0" type="button" class="btn-link link-danger ms-3" title="Delete user"
                           data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Delete this user?"
                           th:data-name="${user.name}"
                           th:attr="data-bs-content='<div class=\'text-center\'><button class=\'btn btn-sm btn-secondary me-2\'>Cancel</button>' +
                             '<button class=\'btn btn-sm btn-danger\' data-name=\'' + ${user.name} + '\' onclick=\'deleteUser(this, ' + ${user.id} + ')\'>Delete</button></div>'">
                            <i class="fa-solid fa-user-xmark"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div th:if="${!users.isEmpty()}" class="row">
            <div class="col-12 col-md-6 text-center text-md-start">
                <div sd:pagination-summary="" id="paginationSummary">info</div>
            </div>

            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <nav>
                    <ul class="pagination justify-content-center justify-content-md-end" sd:pagination-split="7" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div th:if="${!users.isEmpty()}" class="row">
            <div class="col text-center text-md-end">
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
        </div>

        <!-- Change password modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changePasswordModalLabel">Change password for user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form onsubmit="return false;">
                        <div class="modal-body">
                            <input type="hidden" name="userId" id="changePasswordModalUserId" value=""/>
                            <input type="hidden" name="userName" id="changePasswordModalUserName" value=""/>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" required
                                           placeholder="New password" />
                                    <label for="password" class="text-muted">New password</label>
                                </div>
                            </div>
                            <div class="input-group mt-2">
                                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="repeatPassword" required
                                           placeholder="Repeat password" />
                                    <label for="repeatPassword" class="text-muted">Repeat password</label>
                                </div>
                            </div>
                            <span id="passwordMatchError" class="text-danger text-start"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning" onclick="changePassword()" id="confirmBtn">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script>
            sessionStorage.removeItem('prevUrl');
        </script>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/table-content.js?v=1"></script>
        <script src="/js/users.js?v=1"></script>
        <script src="/js/check-passwords-match.js?v=1"></script>
    </ownScript>
</th:block>
