<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="user" type="ru.javaprojects.projector.users.model.User"*/-->

<th:block th:replace="~{fragments/main::page(title='Users',appMain=~{::appMain}, ownScript=~{::ownScript}, activeMenuItem=${ {'users', 'management'} })}">
    <appMain>
        <div class="bg-info-subtle px-2 rounded-2 mb-10px border border-secondary-subtle pb-1">
            <div class="row align-items-center" style="min-height: 46px">
                <div class="col text-start text-truncate">
                    <span class="h3 text-secondary font-weight-bold" style="line-height: normal;">
                        <i class="fas fa-people-group me-2"></i>Users / Create</span>
                </div>
            </div>
        </div>

        <!-- Create user card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-sm-8 col-md-6 col-xl-5 col-xxl-4">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="text-center">New user</h3>
                    </div>
                    <form th:action="@{/users/create}" method="post" th:object="${user}">
                        <div class="card-body p-4 pt-4 pb-3 text-center">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-user fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="nameInput" th:field="*{name}"
                                                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                   required placeholder="Name" />
                                            <label for="nameInput" class="text-muted">Name</label>
                                        </div>
                                    </div>
                                    <span th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li class="text-danger text-start" th:each="err : ${#fields.errors('name')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-envelope fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="emailInput" th:field="*{email}"
                                                   th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                                   required placeholder="Email" />
                                            <label for="emailInput" class="text-muted">Email</label>
                                        </div>
                                    </div>
                                    <span th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li class="text-danger text-start" th:each="err : ${#fields.errors('email')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-chess fa-fw"></i></span>
                                        <div class="form-floating">
                                            <select class="form-control selectpicker border px-0 pt-2" data-style="btn-white"
                                                     id="selector" multiple th:field="*{roles}" title="Roles" required>
                                                <option th:each="role : ${roles}"
                                                        th:value="${role}"
                                                        th:text="${role}">
                                                </option>
                                            </select>
                                            <label hidden for="selector" class="selector-label text-muted">Roles</label>
                                        </div>
                                    </div>
                                    <span th:if="${#fields.hasErrors('roles')}">
                                        <ul>
                                            <li class="text-danger text-start" th:each="err : ${#fields.errors('roles')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-key fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="password" id="password" th:field="*{password}"
                                                   th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                                   required placeholder="Password" />
                                            <label for="password" class="text-muted">Password</label>
                                        </div>
                                    </div>
                                    <span th:if="${#fields.hasErrors('password')}">
                                        <ul>
                                            <li class="text-danger text-start" th:each="err : ${#fields.errors('password')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-key fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="password" id="repeatPassword" class="form-control" required
                                                   placeholder="Repeat password" />
                                            <label for="repeatPassword" class="text-muted">Repeat Password</label>
                                        </div>
                                    </div>
                                    <span id="passwordMatchError" class="text-danger text-start"></span>
                                </div>
                                <div class="form-check form-switch text-start">
                                    <input type="checkbox" th:field="*{enabled}" class="form-check-input" style="cursor: pointer;"
                                           checked id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Enabled</label>
                                </div>
                        </div>
                        <div class="card-footer text-end pe-4 py-2">
                            <button class="btn btn-secondary" type="button" onclick="cancel()">Cancel</button>
                            <button class="btn btn-primary ms-1" type="submit" id="confirmBtn">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/users.js?v=1"></script>
        <script src="/js/check-passwords-match.js?v=1"></script>
        <script src="/js/cancel-button.js?v=1"></script>
        <script src="/js/bootstrap-selector-style-float.js?v=1"></script>
    </ownScript>
</th:block>
