.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    padding: 0 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    height: calc(2.6rem + 2px);
    min-height: calc(2.6rem + 2px);
    line-height: 1;
}

.form-floating>label {
    padding: 0.5rem 0.75rem;
}

.form-floating > label::after {
    background-color: transparent !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.modal-md {
    max-width: 400px;
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}
