<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="projects" type="java.util.List"*/-->
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->

<th:block th:replace="~{fragments/main::page(title='Home',appMain=~{::appMain}, activeMenuItem=${'projectsDropdown'})}">
    <appMain>
        <span th:if="${projects.isEmpty()}">
            <h5 class="alert alert-warning mt-2">No projects found.</h5>
        </span>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-2 px-xl-5">
            <div th:each="project : ${projects}" class="col mb-4">
                <div class="card h-100 project-card">
                    <div class="ratio" style="--bs-aspect-ratio: 50%;">
                        <img th:src="@{${project.cardImage.fileLink}}" class="card-img-top"  style="object-fit: cover"/>
                    </div>
                    <div class="card-body d-flex flex-column pb-1">
                        <h5 class="card-title" th:text="${project.name}">Title</h5>
                        <p class="card-text" th:text="${project.shortDescription}">Short description</p>
                        <a th:href="@{'/projects/' + ${project.id}}" class="stretched-link"></a>
                    </div>
                    <div class="card-footer pt-1 pb-0" style="min-height: 70px;">
                        <a th:each="technology : ${project.technologies}" th:href="@{${technology.url}}"
                           type="button" target="_blank" class="me-1 mb-1" th:title="${technology.name}"
                           style="z-index: 2; position: relative">
                            <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                 width="24" height="24" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
