<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="projects" type="java.util.List"*/-->
<!--/*@thymesVar id="likedProjectsIds" type="java.util.Set"*/-->
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->

<th:block th:replace="~{fragments/main::page(title='Home',appMain=~{::appMain}, ownScript=~{::ownScript}, ownCss='index.css',
            activeMenuItem=${'projectsDropdown'})}">
    <appMain>
        <span th:if="${projects.isEmpty()}">
            <h5 class="alert alert-warning mt-2">No projects found.</h5>
        </span>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 px-xl-5">
            <div th:each="project : ${projects}" class="col mb-4">
                <div class="card h-100 project-card rounded-3">
                    <div class="ratio" style="--bs-aspect-ratio: 50%;">
                        <img th:src="@{${project.cardImage.fileLink}}" class="card-img-top rounded-top-3"  style="object-fit: cover"/>
                    </div>
                    <div>
                        <img th:src="@{${project.architecture.logo != null ? ('/' + project.architecture.logo.fileLink) : ''}}"
                             class="float-end bg-light rounded-circle p-2"
                             data-bs-toggle="tooltip" th:title="${project.architecture.name + ' architecture'}"
                             onmouseenter="$(this).removeClass('p-2').addClass('p-1')"
                             onmouseleave="$(this).removeClass('p-1').addClass('p-2')"
                             width="48" height="48"
                             style="margin-top: -25px; margin-right: 15px; z-index: 2; position: relative;
                             box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);"/>
                    </div>

                    <div class="card-body d-flex flex-column pb-1" style="margin-top: -39px;">
                        <span class="tiny text-secondary mb-2" th:text="${#temporals.format(project.endDate, 'dd.MM.yyyy')}"></span>
                        <h5 class="card-title" th:text="${project.name}">Title</h5>
                        <span class="card-text" th:text="${project.shortDescription}">Short description</span>
                        <div class="row mt-auto pt-3" style="position: relative; z-index: 2;">
                            <div class="col-8">
                                <a href="#" type="button" title="Comments"
                                   class="btn-link text-decoration-none link-info">
                                    <i class="fa-regular fa-comments"></i>
                                    <span class="text-secondary small">204</span>
                                </a>
                                <a type="button" title="Like" th:onclick="|like(this, '${project.id}')|"
                                   class="like-btn btn-link link-danger text-decoration-none ms-3"
                                   data-bs-toggle="popover" data-bs-trigger="manual"
                                   data-bs-title="<a type='button' class='btn-close ms-2 float-end tiny'></a><div>Only for authenticated users</div>"
                                   data-bs-content="<div class='text-center'><a href='/login' type='button' class='btn btn-sm btn-warning px-3'>Login</a></div>" data-bs-html="true">
                                    <i class="fa-heart"
                                       th:classappend="${likedProjectsIds == null || !likedProjectsIds.contains(project.id) ?
                                            'fa-regular' : 'fa-solid'}"></i>
                                    <span class="text-secondary small" th:text="${project.likes.size()}"></span>
                                </a>
                            </div>
                            <div class="col-4 text-end">
                                <i class="fa-regular fa-eye" style="color: #a1a0a0;"></i>
                                <span class="text-secondary small" th:text="${project.views}"></span>
                            </div>
                        </div>
                        <a th:href="@{'/projects/' + ${project.id}}" class="stretched-link"></a>
                    </div>
                    <div class="card-footer" style="min-height: 78px; position: relative; z-index: 2">
                        <a th:each="technology : ${project.technologies}" th:href="@{${technology.url}}"
                           type="button" target="_blank" class="me-1 mb-1" style="text-decoration: none"
                           th:title="${technology.name}">
                            <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                 width="24" height="24" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script>
            setupTooltips();

            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

            function setupTooltips() {
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
            }

            function like(likeBtn, id) {
                if (authenticated) {
                    let likeIcon = $(likeBtn).find('i');
                    let likeCounter = $(likeBtn).find('span');
                    let liked = likeIcon.attr('class').includes('fa-regular');
                    $.ajax({
                        url: `/projects/${id}/like`,
                        type: "PATCH",
                        data: { id: id, liked: liked },
                    }).done(function() {
                        likeIcon.removeClass(liked ? 'fa-regular' : 'fa-solid').addClass(liked ? 'fa-solid' : 'fa-regular');
                        likeCounter.text(+(likeCounter.text()) + (liked ? 1 : -1));
                    }).fail(function(data) {
                        likeIcon.removeClass(liked ? 'fa-solid' : 'fa-regular').addClass(liked ? 'fa-regular' : 'fa-solid');
                        handleError(data, `Failed to ${liked ? 'like' : 'dislike'} project`);
                    });
                } else  {
                    $('.like-btn').popover('hide');
                    $(likeBtn).popover('toggle');
                }
            }

            $('.like-btn').on('shown.bs.popover', () => {
                $('.btn-close').on('click', () => $('.like-btn').popover('hide'));
            });
        </script>
    </ownScript>
</th:block>
