<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->

<th:block th:replace="~{fragments/main::page(title=${project.name},appMain=~{::appMain}, ownScript=~{::ownScript},
          activeMenuItem=${ {'projectsDropdown', 'project' + project.id} })}">
    <appMain>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2"  style="font-size: 1.5em;">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${project.name}">Project name</li>
            </ol>
        </nav>
        <div class="row d-flex justify-content-center align-items-center mt-2">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="32" height="32"
                             class="d-inline-block align-text-bottom">
                        <span class="h3 text-dark-emphasis ms-1" style="line-height: normal;"
                              th:text="${project.name}">Project name</span>
                    </div>
                    <div class="card-body text-start">
                        <span th:text="${#temporals.format(project.endDate, 'dd.MM.yyyy')}" class="tiny text-secondary float-end"></span>
                        <div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.deploymentUrl != null}" th:href="@{${project.deploymentUrl}}" target="_blank">
                                    <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="20" height="20" />
                                    <span>Test application</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.openApiUrl != null}" th:href="@{${project.openApiUrl}}" target="_blank">
                                    <img th:src="@{/images/openapi.svg}" alt="OpenAPI logo" width="20" height="20" />
                                    <span>OpenAPI documentation</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.backendSrcUrl != null}" th:href="@{${project.backendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/github.svg}" alt="GitHub logo" width="20" height="20" />
                                    <span th:text="'Source code on GitHub' + (${project.frontendSrcUrl != null ? ' (backend)' : ''})"></span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.frontendSrcUrl != null}" th:href="@{${project.frontendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/github.svg}" alt="GitHub logo" width="20" height="20" />
                                    <span>Source code on GitHub (frontend)</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.dockerCompose != null}" th:href="@{${'/' + project.dockerCompose.fileLink}}" target="_blank">
                                    <img th:src="@{/images/docker.svg}" alt="Docker logo" width="20" height="20" />
                                    <span>Docker compose file</span>
                                </a>
                            </div>
                        </div>

                        <h3 class="mt-3">Architecture</h3>
                        <hr style="border: 2px solid black;">
                        <img th:src="@{${project.architecture.logo != null ? ('/' + project.architecture.logo.fileLink) : ''}}"
                             width="40" height="40" class="bg-light border border-light-subtle rounded-circle p-1" />
                            <span class="h6" th:text="${project.architecture.name}"></span>
                        <div th:text="${project.architecture.description}"></div>

                        <h3 class="mt-3">Technologies stack</h3>
                        <hr style="border: 2px solid black;">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#backendTab" type="button" role="tab"
                                        aria-controls="nav-general" aria-selected="true">Backend</button>
                            </li>
                            <li class="nav-item" th:if="${hasFrontendTechnologies}">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#frontendTab" type="button" role="tab"
                                        aria-controls="nav-changes" aria-selected="false">Frontend</button>
                            </li>
                        </ul>
                        <div class="tab-content px-3 border-start pb-2">
                            <div class="tab-pane fade show active" id="backendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge text-bg-light me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).BACKEND}">
                                    <a type="button" th:href="@{${technology.url}}" target="_blank"
                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark">
                                        <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                             width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                    </a>
                                </span>
                            </div>
                            <div class="tab-pane fade" id="frontendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge text-bg-light me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).FRONTEND}">
                                    <a type="button" th:href="@{${technology.url}}" target="_blank"
                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark">
                                        <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                             width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div th:if="${!project.descriptionElements.isEmpty()}">
                            <h3 class="mt-4">Application description</h3>
                            <hr style="border: 2px solid black;">
                        </div>

                        <div th:each="element : ${project.descriptionElements}">
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE}">
                                <h4 th:text="${element.text}"></h4>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).PARAGRAPH}">
                                <p th:text="${element.text}" style="white-space: pre-wrap;"></p>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).IMAGE}">
                                <img th:src="@{${element.image != null ? ('/' + element.image.fileLink) : ''}}"
                                     class="rounded-2 my-1 border"
                                     style="cursor: zoom-in; max-width: 100%;" onclick="showLargerImage($(this))" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row d-flex justify-content-center align-items-center mt-3 mb-2" id="comments">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-body text-start">
                        <span class="h3">Comments</span>
                        <span class="h3 text-secondary ms-1 fw-light">112</span>


                        <div class="col-12 col-md-6 mt-3" id="newCommentDiv">
                            <textarea class="form-control bg-light new-comment pb-4" id="newCommentInput" style="resize: none" placeholder="Leave a comment here" rows="2"></textarea>
                            <a type="button" id="sendNewBtn" hidden class="btn btn-link text-decoration-none float-end pe-2"
                               title="Send" style="margin-top: -35px;" onclick="postComment(null, $('#newCommentInput').val())">Send</a>
                        </div>


                        <div id="commentsArea" class="mt-3">
                            <div class="comment mt-3">
                                <div class="d-flex ">
                                    <img class="rounded-circle border" th:src="@{/images/no-avatar.svg}" width="40" height="40" />
                                    <div class="ms-2 ">
                                        <span class="h6">Jack Sanjers</span>
                                        <div class="text-secondary tiny" style="margin-top: -3px;">28.09.2024 15:45</div>
                                    </div>
                                </div>
                                <div style="white-space: pre-wrap">Hello, world! This is a test comment to check how it looks like!</div>
                                <div>
                                    <a type="button" class="like-btn btn-link link-danger text-decoration-none" title="Like">
                                        <i class="fa-regular fa-heart"></i>
                                        <span class="text-secondary small">4</span>
                                    </a>

                                    <a type="button" class="btn-link text-decoration-none ms-1" id="replyBtn-42" onclick="reply($(this))">
                                        <i class="fa-solid fa-reply"></i>
                                        <span class="text-secondary small">Reply</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Image modal -->
        <div class="modal fade" id="largerImageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <span id="largerImageModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="" id="largerImage" class="border" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>

        <script>
            $('.new-comment').on('input', (event) => {
                $(event.target).css('height', 'auto');
                $(event.target).css('height', $(event.target).prop('scrollHeight') + 1 + 'px');
                $('#sendNewBtn').attr('hidden', $(event.target).val().length === 0);
            });


            function reply(replyBtn) {
                console.log(replyBtn);

                $('#newCommentDiv').attr('hidden', true);
                $('#newCommentInput').val('');
                $('#sendNewBtn').attr('hidden', true);

                $('#replyCommentDiv').remove();
                let div = $('<div></div>').addClass('col-12 col-md-6 mt-3 ms-3').attr('id', 'replyCommentDiv');
                let textArea = $('<textarea></textarea>').addClass('form-control bg-light reply-comment pb-4')
                    .attr('id', 'replyComment').css('resize', 'none').attr('placeholder', 'Leave a comment here')
                    .attr('rows', '2');

                let sendReplyBtn = $('<a></a>').addClass('btn btn-link text-decoration-none float-end pe-2').css('margin-top', '-35px')
                    .attr('type', 'button').attr('id', 'sendReplyBtn').attr('hidden', true).html('Send');
                let cancelReplyBtn = $('<a></a>').addClass('btn btn-link link-secondary text-decoration-none float-end').css('margin-top', '-35px')
                    .attr('type', 'button').attr('id', 'cancelReplyBtn').html('Cancel');
                div.append(textArea);
                div.append(sendReplyBtn);
                div.append(cancelReplyBtn);
                div.insertAfter(replyBtn);

                $('#replyComment').on('input', (event) => {
                    $(event.target).css('height', 'auto');
                    $(event.target).css('height', $(event.target).prop('scrollHeight') + 1 + 'px');
                    $('#sendReplyBtn').attr('hidden', $(event.target).val().length === 0);
                });

                $('#cancelReplyBtn').on('click', () => {
                    $('#replyCommentDiv').remove();
                    $('#newCommentDiv').attr('hidden', false);
                });

                $('#sendReplyBtn').on('click', () => {
                    let text = $('#replyComment').val();
                    let parentId = replyBtn.attr('id').replace('replyBtn-', '');
                    successToast(`Comment '${text}' has been posted with  parentId = ${parentId}`);

                    //TODO generate  created comment instead of replyCommentDiv

                    let commentDiv = generateCommentDiv(parentId, text).addClass('ms-3');
                    commentDiv.insertAfter(replyBtn);

                    $('#replyCommentDiv').remove();
                    $('#newCommentDiv').attr('hidden', false);
                });
            }

            //TODO try to use callback as method param. after success ajax - run callback to set up comment div
            function postComment(parentId, text) {
                successToast(`Comment '${text}' has been posted with  parentId = ${parentId}`);

                let commentDiv = generateCommentDiv(parentId, text);

                $('#commentsArea').prepend(commentDiv);

                $('#newCommentInput').val('');
                $('#sendNewBtn').attr('hidden', true);
            }

            function generateCommentDiv(parentId, text) {
                let commentDiv = $('<div></div>').addClass('comment mt-3');
                let dFlexDiv = $('<div></div>').addClass('d-flex');
                let avatar = $('<img>').addClass('rounded-circle border')
                    .attr('src', `${(authUser.user.avatar.fileLink).startsWith('https://') ? authUser.user.avatar.fileLink : ('/' + authUser.user.avatar.fileLink)}`)
                    .attr('width', '40').attr('height', '40');
                let nameAndTimeDiv = $('<div></div>').addClass('ms-2');
                let nameSpan = $('<span></span>').addClass('h6').html(`${authUser.user.name}`);
                let timeDiv = $('<div></div>').addClass('text-secondary tiny').css('margin-top', '-3px').html(new Date().getDate());
                nameAndTimeDiv.append(nameSpan);
                nameAndTimeDiv.append(timeDiv);
                dFlexDiv.append(avatar);
                dFlexDiv.append(nameAndTimeDiv);
                let textDiv = $('<div></div>').css('white-space', 'pre-wrap').html(text);

                let buttonsDiv = $('<div></div>');
                let likeBtn = $('<a></a>').addClass('like-btn btn-link link-danger text-decoration-none')
                    .attr('type', 'button').attr('title', 'Like');
                let likeSymbol = $('<i></i>').addClass('fa-regular fa-heart');
                let likeCounter = $('<span></span>').addClass('text-secondary small').text(' 4');
                likeBtn.append(likeSymbol);
                likeBtn.append(likeCounter);
                let replyBtn = $('<a></a>').addClass('btn-link text-decoration-none ms-2')
                    .attr('type', 'button').attr('id', 'replyBtn-55');
                let replySymbol = $('<i></i>').addClass('fa-solid fa-reply');
                let replySpan = $('<span></span>').addClass('text-secondary small').text(' Reply');
                replyBtn.on('click', () => {
                    reply(replyBtn);
                })

                replyBtn.append(replySymbol);
                replyBtn.append(replySpan);
                buttonsDiv.append(likeBtn);
                buttonsDiv.append(replyBtn);
                commentDiv.append(dFlexDiv);
                commentDiv.append(textDiv);
                commentDiv.append(buttonsDiv);

                return commentDiv;
            }
        </script>
    </ownScript>
</th:block>
