<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->

<th:block th:replace="~{fragments/main::page(title=${project.name},appMain=~{::appMain}, ownScript=~{::ownScript},
          activeMenuItem=${ {'projectsDropdown', 'project' + project.id} })}">
    <appMain>
        <div class="bg-info-subtle px-2 rounded-2 mb-10px border border-secondary-subtle pb-1">
            <div class="row align-items-center" style="min-height: 46px">
                <div class="col text-start text-truncate">
                    <div class="col text-start text-truncate">
                    <span class="h3 text-secondary font-weight-bold" style="line-height: normal;"
                          th:utext="${'<i class=''fa-solid fa-layer-group me-2''></i>Projects / ' + (project.name)}">Projects / Project</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="32" height="32"
                             class="d-inline-block align-text-bottom">
                        <span class="h3 text-dark-emphasis ms-1" style="line-height: normal;"
                              th:text="${project.name}">Project name</span>
                    </div>
                    <div class="card-body text-start">
                        <span th:text="${#temporals.format(project.startDate, 'dd.MM.yyyy') + ' - ' +
                            #temporals.format(project.endDate, 'dd.MM.yyyy')}" class="badge bg-info-subtle text-dark float-end"
                              title="Development period"></span>
                        <div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.deploymentUrl != null}" th:href="@{${project.deploymentUrl}}" target="_blank">
                                    <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="20" height="20" />
                                    <span>Test application</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.openApiUrl != null}" th:href="@{${project.openApiUrl}}" target="_blank">
                                    <img th:src="@{/images/openapi.svg}" alt="OpenAPI logo" width="20" height="20" />
                                    <span>OpenAPI documentation</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.backendSrcUrl != null}" th:href="@{${project.backendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/github.svg}" alt="GitHub logo" width="20" height="20" />
                                    <span th:text="'Source code on GitHub' + (${project.frontendSrcUrl != null ? ' (backend)' : ''})"></span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.frontendSrcUrl != null}" th:href="@{${project.frontendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/github.svg}" alt="GitHub logo" width="20" height="20" />
                                    <span>Source code on GitHub (frontend)</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.dockerCompose != null}" th:href="@{${'/' + project.dockerCompose.fileLink}}" target="_blank">
                                    <img th:src="@{/images/docker.svg}" alt="Docker logo" width="20" height="20" />
                                    <span>Docker compose file</span>
                                </a>
                            </div>
                        </div>

                        <h3 class="mt-3">Architecture</h3>
                        <hr style="border: 2px solid black;">
                        <h6 th:text="${project.architecture.name}"></h6>
                        <div th:text="${project.architecture.description}"></div>

                        <h3 class="mt-3">Technologies stack</h3>
                        <hr style="border: 2px solid black;">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#backendTab" type="button" role="tab"
                                        aria-controls="nav-general" aria-selected="true">Backend</button>
                            </li>
                            <li class="nav-item" th:if="${hasFrontendTechnologies}">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#frontendTab" type="button" role="tab"
                                        aria-controls="nav-changes" aria-selected="false">Frontend</button>
                            </li>
                        </ul>
                        <div class="tab-content px-3 border-start pb-2">
                            <div class="tab-pane fade show active" id="backendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge text-bg-light me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).BACKEND}">
                                    <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                         width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                </span>
                            </div>
                            <div class="tab-pane fade" id="frontendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge text-bg-light me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).FRONTEND}">
                                    <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                         width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                </span>
                            </div>
                        </div>

                        <div th:if="${!project.descriptionElements.isEmpty()}">
                            <h3 class="mt-4">Application description</h3>
                            <hr style="border: 2px solid black;">
                        </div>

                        <div th:each="element : ${project.descriptionElements}">
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE}">
                                <h4 th:text="${element.text}"></h4>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).PARAGRAPH}">
                                <p th:text="${element.text}" style="white-space: pre-wrap;"></p>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).IMAGE}">
                                <img th:src="@{${element.fileLink != null ? ('/' + element.fileLink) : ''}}"
                                     class="image-pop rounded-2 my-1 border"
                                     style="cursor: zoom-in; max-width: 100%;" onclick="showLargerImage($(this))" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image modal -->
        <div class="modal fade" id="largerImageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="largerImageModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="" id="largerImage" class="border" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
    </ownScript>
</th:block>
