<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->
<!--/*@thymesVar id="comments" type="java.util.Map"*/-->
<!--/*@thymesVar id="likedCommentsIds" type="java.util.Set"*/-->
<!--/*@thymesVar id="authUser" type="ru.javaprojects.projector.app.AuthUser"*/-->

<th:block th:replace="~{fragments/main::page(title=${project.name},appMain=~{::appMain}, ownScript=~{::ownScript}, ownCss='project.css',
          activeMenuItem=${ {'projectsDropdown', 'project' + project.id} })}">
    <appMain>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2"  style="font-size: 1.5em;">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-home me-1"></i><span th:text="#{home}">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${project.name}">Project name</li>
            </ol>
        </nav>
        <div class="row d-flex justify-content-center align-items-center mt-2">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <span id="projectId" th:text="${project.id}" hidden></span>
                    <div class="card-header text-center">
                        <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="32" height="32"
                             class="d-inline-block align-text-bottom">
                        <span class="h3 text-dark-emphasis ms-1" style="line-height: normal;"
                              th:text="${project.name}">Project name</span>
                    </div>
                    <div class="card-body text-start">
                        <span th:text="${#temporals.format(project.endDate, 'dd.MM.yyyy')}" class="tiny text-secondary float-end"></span>
                        <div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.deploymentUrl != null}" th:href="@{${project.deploymentUrl}}" target="_blank">
                                    <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="20" height="20" />
                                    <span th:text="#{project.test-app}">Test application</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.openApiUrl != null}" th:href="@{${project.openApiUrl}}" target="_blank">
                                    <img th:src="@{/images/openapi.svg}" alt="OpenAPI logo" width="20" height="20" />
                                    <span th:text="#{project.api-doc}">OpenAPI documentation</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.backendSrcUrl != null}" th:href="@{${project.backendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/github.svg}" alt="GitHub logo" width="20" height="20" />
                                    <span th:text="#{project.src-github} + (${project.frontendSrcUrl != null} ?  ' (' + #{backend} + ')' : '')"></span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.frontendSrcUrl != null}" th:href="@{${project.frontendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/github.svg}" alt="GitHub logo" width="20" height="20" />
                                    <span th:text="#{project.src-github} + ' (' + #{frontend}    + ')'">Source code on GitHub (frontend)</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.dockerCompose != null}" th:href="@{${'/' + project.dockerCompose.fileLink}}" target="_blank">
                                    <img th:src="@{/images/docker.svg}" alt="Docker logo" width="20" height="20" />
                                    <span th:text="#{project.docker-compose-file}">Docker compose file</span>
                                </a>
                            </div>
                        </div>

                        <h3 class="mt-3" th:text="#{architecture}">Architecture</h3>
                        <hr style="border: 2px solid black;">
                        <img th:src="@{${project.architecture.logo != null ? ('/' + project.architecture.logo.fileLink) : ''}}"
                             width="40" height="40" class="bg-light border border-light-subtle rounded-circle p-1" />
                            <span class="h6" th:text="${project.architecture.name}"></span>
                        <div th:text="${project.architecture.description}"></div>

                        <h3 class="mt-3" th:text="#{project.tech-stack}">Technologies stack</h3>
                        <hr style="border: 2px solid black;">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#backendTab" type="button" role="tab"
                                        aria-controls="nav-general" aria-selected="true" th:text="#{backend}">Backend</button>
                            </li>
                            <li class="nav-item" th:if="${hasFrontendTechnologies}">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#frontendTab" type="button" role="tab"
                                        aria-controls="nav-changes" aria-selected="false" th:text="#{frontend}">Frontend</button>
                            </li>
                        </ul>
                        <div class="tab-content px-3 border-start pb-2">
                            <div class="tab-pane fade show active" id="backendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge text-bg-light me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).BACKEND}">
                                    <a type="button" th:href="@{${technology.url}}" target="_blank"
                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark">
                                        <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                             width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                    </a>
                                </span>
                            </div>
                            <div class="tab-pane fade" id="frontendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge text-bg-light me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).FRONTEND}">
                                    <a type="button" th:href="@{${technology.url}}" target="_blank"
                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark">
                                        <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                             width="32" height="32" th:text="${technology.name}" class="align-bottom"/>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div th:if="${!project.descriptionElements.isEmpty()}">
                            <h3 class="mt-4" th:text="#{project.app-description}">Application description</h3>
                            <hr style="border: 2px solid black;">
                        </div>

                        <div th:each="element : ${project.descriptionElements}">
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE}">
                                <h4 th:text="${element.text}"></h4>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).PARAGRAPH}">
                                <p th:text="${element.text}" style="white-space: pre-wrap;"></p>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).IMAGE}">
                                <img th:src="@{${element.image != null ? ('/' + element.image.fileLink) : ''}}"
                                     class="rounded-2 my-1 border"
                                     style="cursor: zoom-in; max-width: 100%;" onclick="showLargerImage($(this))" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-8">
                                <a th:href="@{'/projects/' + ${project.id} + '#comments'}" type="button" th:title="#{comment.comments}"
                                   class="btn-link text-decoration-none link-info">
                                    <i class="fa-regular fa-comments"></i>
                                    <span class="text-secondary small commentsCounter" th:text="${comments.size()}"></span>
                                </a>
                                <a type="button" th:title="#{like}" th:onclick="|likeProject(this, '${project.id}')|"
                                   class="like-btn btn-link link-danger text-decoration-none ms-3 with-popover"
                                   data-bs-toggle="popover" data-bs-trigger="manual"
                                   th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                   th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'" data-bs-html="true">
                                    <i class="fa-heart" th:title="#{like}" th:classappend="${liked == null || !liked ? 'fa-regular' : 'fa-solid'}"></i>
                                    <span class="text-secondary small" th:title="#{like}" th:text="${project.likes.size()}"></span>
                                </a>
                            </div>
                            <div class="col-4 text-end">
                                <i class="fa-regular fa-eye" style="color: #a1a0a0;"></i>
                                <span class="text-secondary small" th:text="${project.views}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row d-flex justify-content-center align-items-center mt-3 mb-2" id="comments">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-body text-start">
                        <span class="h3" th:text="#{comment.comments}">Comments</span>
                        <span class="h3 text-secondary ms-1 fw-light commentsCounter" th:text="${comments.size()}"></span>


                        <div class="col-12 col-md-6 mt-3" id="newCommentDiv">
                            <textarea class="form-control bg-light new-comment with-popover pb-4" id="newCommentInput"
                                      style="resize: none" th:placeholder="#{comment.leave-comment-here}" rows="2"
                                      data-bs-toggle="popover" data-bs-trigger="manual"
                                      data-bs-title="<a type='button' class='btn-close ms-2 float-end tiny'></a><div>Only for authenticated users</div>"
                                      data-bs-content="<div class='text-center'><a href='/login' type='button' class='btn btn-sm btn-warning px-3'>Login</a></div>" data-bs-html="true" ></textarea>
                            <a type="button" id="sendNewBtn" hidden class="btn btn-link text-decoration-none float-end pe-2"
                               title="Send" style="margin-top: -35px;" th:text="#{comment.send}"
                               onclick="postComment(null, $('#newCommentInput').val(), postNewCommentSuccess)">Send</a>
                        </div>


                        <div id="commentsArea">
                            <div class="comment mt-3" th:each="commentEntry : ${comments.entrySet()}"
                                 th:style="${'margin-left: ' + 16 * commentEntry.getValue() + 'px'}"
                                 th:id="${'comment-' + commentEntry.getKey().id}">
                                <div class="d-flex ">
                                    <span th:if="${commentEntry.getValue() != 0}" class="my-auto border-bottom" style="margin-left: -16px; width: 16px;"></span>
                                    <img class="rounded-circle border"
                                         th:src="@{${commentEntry.getKey().author.avatar != null ?
                                                 commentEntry.getKey().author.avatar.getSrc() : '/images/no-avatar.svg'}}"
                                         width="40" height="40" />
                                    <div class="ms-2 ">
                                        <span class="h6" th:text="${commentEntry.getKey().author.name}">Author name</span>
                                        <div class="text-secondary tiny" style="margin-top: -3px;"
                                             th:text="${#temporals.format(commentEntry.getKey().created, 'dd.MM.yyyy HH:mm:ss')}">Created</div>
                                    </div>
                                </div>
                                <div class="comment-text" style="white-space: pre-wrap;"
                                     th:text="${commentEntry.getKey().deleted} ? #{comment.deleted} : ${commentEntry.getKey().text}"
                                     th:classappend="${commentEntry.getKey().deleted ? 'text-secondary' : ''}"
                                     th:styleappend="${commentEntry.getKey().deleted ? 'font-style: italic' : ''}">Text</div>

                                <div th:if="${!commentEntry.getKey().deleted}" class="comment-actions">
                                    <a type="button" th:title="#{like}" th:onclick="|like(this, '${commentEntry.getKey().id}')|"
                                       class="like-btn btn-link link-danger text-decoration-none with-popover"
                                       data-bs-toggle="popover" data-bs-trigger="manual"
                                       th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                       th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'" data-bs-html="true">
                                        <i class="fa-heart" th:title="#{like}"
                                           th:classappend="${likedCommentsIds == null || !likedCommentsIds.contains(commentEntry.getKey().id) ?
                                            'fa-regular' : 'fa-solid'}"></i>
                                        <span class="text-secondary small" th:title="#{like}" th:text="${commentEntry.getKey().likes.size()}"></span>
                                    </a>

                                    <a type="button" class="reply-btn btn-link text-decoration-none ms-1 with-popover"
                                       th:id="${'replyBtn-' + commentEntry.getKey().id}"
                                       data-bs-toggle="popover" data-bs-trigger="manual"
                                       th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                       th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'"
                                       data-bs-html="true"
                                       onclick="reply($(this))">
                                        <i class="fa-solid fa-share fa-rotate-270 small"></i>
                                        <span class="text-secondary small" style="margin-left: -3px;" th:text="#{comment.reply}">Reply</span>
                                    </a>

                                    <a th:if="${authUser != null && commentEntry.getKey().author.id == authUser.id}"
                                       type="button" class="btn-link text-decoration-none ms-1" th:title="#{edit}"
                                       th:id="${'editBtn-' + commentEntry.getKey().id}" onclick="edit($(this))">
                                        <i class="fa-solid fa-pencil text-secondary small"></i>
                                    </a>

                                    <a th:if="${authUser != null && (commentEntry.getKey().author.id == authUser.id || authUser.isAdmin())}"
                                       tabindex="0" type="button" class="delete-comment-btn btn-link text-decoration-none ms-1"
                                       th:id="${'deleteCommentBtn-' + commentEntry.getKey().id}"
                                       data-bs-toggle="popover" data-bs-trigger="focus"
                                       th:data-bs-title="#{comment.delete} + '?'"
                                       th:data-bs-content="'<div class=&quot;text-center&quot;><a type=&quot;button&quot; class=&quot;btn btn-sm  btn-secondary me-2&quot;>' + #{cancel} + '</a><a type=&quot;button&quot; class=&quot;btn btn-sm btn-danger del-com&quot;>' + #{delete} + '</a></div>'"
                                       data-bs-html="true">
                                        <i th:title="#{delete}" class="fa-solid fa-trash-can text-danger small"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Image modal -->
        <div class="modal fade" id="largerImageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <span id="largerImageModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="" id="largerImage" class="border" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/project.js?v=1"></script>
    </ownScript>
</th:block>
