<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->
<!--/*@thymesVar id="comments" type="java.util.Map"*/-->
<!--/*@thymesVar id="likedCommentsIds" type="java.util.Set"*/-->
<!--/*@thymesVar id="authUser" type="ru.javaprojects.projector.users.model.User"*/-->

<th:block th:replace="~{fragments/main::page(title=${project.name},appMain=~{::appMain}, ownScript=~{::ownScript}, ownCss='project.css')}">
    <appMain>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2 flex-nowrap"  style="font-size: 1.5em;">
                <li class="breadcrumb-item text-truncate">
                    <a th:if="${authUser != null && authUser.isAdmin()}" th:href="@{/management/projects}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-layer-group me-1"></i><span th:text="#{project.projects}"></span>
                    </a>
                    <span th:if="${authUser == null || !authUser.isAdmin()}">
                        <i class="fas fa-layer-group me-1"></i><span th:text="#{project.projects}"></span>
                    </span>
                </li>
                <li class="breadcrumb-item text-truncate active" aria-current="page" th:text="${project.name}">Project name</li>
            </ol>
        </nav>
        <div class="row d-flex justify-content-center align-items-center mt-2">
            <div class="col-12 col-xxl-6">
                <div class="card shadow">
                    <span id="projectId" th:text="${project.id}" hidden></span>
                    <span id="projectAuthorId" th:text="${project.author.id}" hidden></span>
                    <div class="ratio" style="--bs-aspect-ratio: 50%;">
                        <img th:src="@{${project.preview.getSrc()}}" class="card-img-top rounded-top-3"  style="object-fit: cover"/>
                    </div>
                    <div class="card-body text-start">
                        <div class="d-flex">
                            <div class="pb-1 ps-3" style="position: relative; z-index: 2; margin-left: -16px;">
                                <a th:href="@{'/profile/' + ${project.author.id} + '/view'}" class="text-decoration-none link-body-emphasis">
                                    <img class="rounded-circle border" th:src="@{${project.author.avatar != null ?
                                        project.author.avatar.getSrc() : '/images/no-avatar.svg'}}" width="40" height="40"
                                         style="object-fit: cover" th:title="${project.author.name}"
                                         onmouseenter="$(this).addClass('opacity-75')" onmouseleave="$(this).removeClass('opacity-75')" />
                                </a>
                            </div>
                            <div class="pb-1 ps-2 pe-3" style="position: relative; z-index: 2;">
                                <a th:href="@{'/profile/' + ${project.author.id} + '/view'}" class="text-decoration-none link-body-emphasis">
                                    <span class="h6" th:text="${project.author.name}" >Author name</span>
                                </a>
                                <div class="tiny text-secondary-emphasis" style="margin-top: -3px;"
                                     th:text="${#temporals.format(project.created, 'dd.MM.yyyy HH:mm')}">Created</div>
                            </div>
                        </div>

                        <div class="mb-0">
                            <span class="h2" th:text="${project.name}">Project name</span>
                            <i th:if="${!project.visible}" class="h4 fa-solid fa-eye-slash text-warning float-end"
                               th:title="#{project.hidden-from-users}"></i>
                        </div>
                        <div class="mt-3">
                            <div>
                                <a class="icon-link link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.deploymentUrl != null}" th:href="@{${project.deploymentUrl}}" target="_blank">
                                    <img th:src="@{${'/' + project.logo.fileLink}}" alt="Logo" width="20" height="20" />
                                    <span th:text="#{project.test-app}">Test application</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.openApiUrl != null}" th:href="@{${project.openApiUrl}}" target="_blank">
                                    <img th:src="@{/images/openapi.svg}" alt="OpenAPI logo" width="20" height="20" />
                                    <span th:text="#{project.api-doc}">OpenAPI documentation</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.backendSrcUrl != null}" th:href="@{${project.backendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/git.svg}" alt="Git logo" width="20" height="20" />
                                    <span th:text="#{project.source-code} + (${project.frontendSrcUrl != null} ?  ' (' + ${#strings.toLowerCase(#messages.msg('backend'))} + ')' : '')"></span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.frontendSrcUrl != null}" th:href="@{${project.frontendSrcUrl}}" target="_blank">
                                    <img th:src="@{/images/git.svg}" alt="Git logo" width="20" height="20" />
                                    <span th:text="#{project.source-code} + ' (' + ${#strings.toLowerCase(#messages.msg('frontend'))}    + ')'">Source code (frontend)</span>
                                </a>
                            </div>
                            <div>
                                <a class="icon-link link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:if="${project.dockerCompose != null}" th:href="@{${'/' + project.dockerCompose.fileLink}}" target="_blank">
                                    <img th:src="@{/images/docker.svg}" alt="Docker logo" width="20" height="20" />
                                    <span th:text="#{project.docker-compose-file}">Docker compose file</span>
                                </a>
                            </div>
                        </div>

                        <h4 class="mt-3" th:text="#{project.developer}">Developer</h4>
                        <hr class="mt-0" style="border: 2px solid;">
                        <a th:href="@{'/profile/' + ${project.author.id} + '/view'}" class="text-decoration-none link-body-emphasis"
                           th:title="${project.author.name}">
                            <img class="rounded-circle border" th:src="@{${project.author.avatar != null ?
                                  project.author.avatar.getSrc() : '/images/no-avatar.svg'}}" width="40" height="40"
                                 style="object-fit: cover" />
                        </a>
                        <a th:href="@{'/profile/' + ${project.author.id} + '/view'}" class="text-decoration-none link-body-emphasis">
                            <span class="h6 ms-1" th:text="${project.author.name}">Author name</span>
                        </a>
                        <div th:text="#{project.development-period} + ': ' + ${#temporals.format(project.started, 'dd.MM.yyyy')} +
                            ' - ' + ${#temporals.format(project.finished, 'dd.MM.yyyy')} + ' (' +
                            ${T(java.time.temporal.ChronoUnit).DAYS.between(project.started, project.finished)} + ' ' + #{project.days} + ')'">Dev period</div>

                        <h4 class="mt-3" th:text="#{architecture}">Architecture</h4>
                        <hr class="mt-0" style="border: 2px solid;">
                        <img th:src="@{${project.architecture.logo != null ? ('/' + project.architecture.logo.fileLink) : ''}}"
                             width="40" height="40" class="bg-light-subtle border border-light-subtle rounded-circle p-1" />
                            <span class="h6 ms-1"
                                  th:text="${project.architecture.name}"></span>
                        <div th:text="${project.architecture.description}"></div>

                        <h4 class="mt-3" th:text="#{project.tech-stack}">Technologies stack</h4>
                        <hr class="mt-0" style="border: 2px solid">

                        <ul class="nav nav-underline">
                            <li class="nav-item">
                                <button class="nav-link pt-0 pb-1 active" data-bs-toggle="tab" data-bs-target="#backendTab" type="button" role="tab"
                                        aria-controls="nav-general" aria-selected="true" th:text="#{backend}">Backend</button>
                            </li>
                            <li class="nav-item" th:if="${hasFrontendTechnologies}">
                                <button class="nav-link pt-0 pb-1" data-bs-toggle="tab" data-bs-target="#frontendTab" type="button" role="tab"
                                        aria-controls="nav-changes" aria-selected="false" th:text="#{frontend}">Frontend</button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="backendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge bg-body-tertiary me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).BACKEND}">
                                    <a type="button" th:href="@{${technology.url}}" target="_blank"
                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-body-emphasis">
                                        <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                             width="32" height="32" th:text="${technology.name}" class="align-bottom me-1"/>
                                    </a>
                                </span>
                            </div>
                            <div class="tab-pane fade" id="frontendTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <span th:each="technology : ${project.technologies}" class="badge bg-body-tertiary me-2 mt-2"
                                      th:if="${technology.usage == T(ru.javaprojects.projector.reference.technologies.model.Usage).FRONTEND}">
                                    <a type="button" th:href="@{${technology.url}}" target="_blank"
                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-body-emphasis">
                                        <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                             width="32" height="32" th:text="${technology.name}" class="align-bottom me-1"/>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div th:if="${!project.descriptionElements.isEmpty()}">
                            <h4 class="mt-4" th:text="#{project.app-description}">Application description</h4>
                            <hr class="mt-0" style="border: 2px solid;">
                        </div>

                        <div th:each="element : ${project.descriptionElements}">
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE}">
                                <h5 th:text="${element.text}"></h5>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).PARAGRAPH}">
                                <p th:text="${element.text}" style="white-space: pre-wrap;"></p>
                            </div>
                            <div th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).IMAGE}">
                                <img th:src="@{${element.image != null ? ('/' + element.image.fileLink) : ''}}"
                                     class="rounded-2 my-1 border"
                                     style="cursor: zoom-in; max-width: 100%;" onclick="zoomImage($(this))" />
                            </div>
                        </div>

                        <div th:if="${!project.tags.isEmpty()}" class="mt-4">
                            <a th:each="tag : ${project.tags}" class="text-decoration-none me-2" th:text="'#' + ${tag.name}"
                               th:href="@{'/tags/' + ${tag.name}}"></a>
                        </div>

                        <div class="row mt-3">
                            <div class="col-8">
                                <a th:href="@{'/projects/' + ${project.id} + '/view#comments'}" type="button" th:title="#{comment.comments}"
                                   class="btn-link text-decoration-none link-info">
                                    <i class="fa-regular fa-comments"></i>
                                    <span class="text-secondary-emphasis small commentsCounter" th:text="${comments.size()}"></span>
                                </a>
                                <a type="button" class="like-btn btn-link link-danger text-decoration-none ms-3 with-popover"
                                   data-bs-toggle="popover" data-bs-trigger="manual"
                                   th:data-id="${project.id}"
                                   th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                   th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot;' +
                                   'type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} +
                                   '</a></div>'" data-bs-html="true" onclick="likeProject($(this))">
                                    <i class="fa-heart" th:title="#{like}" th:classappend="${liked == null || !liked ? 'fa-regular' : 'fa-solid'}"></i>
                                    <span class="text-secondary-emphasis small" th:title="#{like}" th:text="${project.likes.size()}"></span>
                                </a>
                                <a type="button"
                                   class="btn-link link-primary text-decoration-none ms-3"
                                   th:title="#{project.share}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-share"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><button type="button" class="dropdown-item" th:onclick="|copyLink('${project.id}')|">
                                        <i class="fa-solid fa-link fa-fw"></i><span class="ms-2" th:text="#{info.share.copy-link}"></span>
                                    </button></li>
                                    <li><button type="button" class="dropdown-item" onclick="shareOnVk($(this))"
                                                th:data-id="${project.id}" th:data-name="${project.name}">
                                        <i class="fa-brands fa-vk fa-fw"></i><span class="ms-2" th:text="#{info.share.vk}"></span>
                                    </button></li>
                                    <li><button type="button" class="dropdown-item" onclick="shareOnTelegram($(this))"
                                                th:data-id="${project.id}" th:data-name="${project.name}">
                                        <i class="fa-brands fa-telegram fa-fw"></i><span class="ms-2" th:text="#{info.share.telegram}"></span>
                                    </button></li>
                                    <li><button type="button" class="dropdown-item" onclick="shareOnWhatsApp($(this))"
                                                th:data-id="${project.id}" th:data-name="${project.name}">
                                        <i class="fa-brands fa-whatsapp fa-fw"></i><span class="ms-2" th:text="#{info.share.whatsapp}"></span>
                                    </button></li>
                                </ul>
                            </div>
                            <div class="col-4 text-end">
                                <i class="fa-regular fa-eye" style="color: #a1a0a0;"></i>
                                <span class="text-secondary-emphasis small" th:text="${project.views}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row d-flex justify-content-center align-items-center mt-3 mb-2" id="comments">
            <div class="col-12 col-xxl-6">
                <div class="card shadow">
                    <div class="card-body text-start">
                        <span class="h4" th:text="#{comment.comments}">Comments</span>
                        <span class="h4 text-secondary-emphasis ms-1 fw-light commentsCounter" th:text="${comments.size()}"></span>


                        <div class="col-12 mt-3" id="newCommentDiv">
                            <textarea class="form-control bg-light-subtle new-comment with-popover pb-4" id="newCommentInput"
                                      style="resize: none" th:placeholder="#{comment.leave-comment-here}" rows="2"
                                      data-bs-toggle="popover" data-bs-trigger="manual"
                                      th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                      th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'" data-bs-html="true"></textarea>
                            <a type="button" id="sendNewBtn" hidden class="btn btn-link text-decoration-none float-end pe-2"
                               title="Send" style="margin-top: -35px;" th:text="#{comment.send}"
                               onclick="postComment(null, $('#newCommentInput').val(), postNewCommentSuccess)">Send</a>
                        </div>


                        <div id="commentsArea">
                            <div class="comment mt-3" th:each="commentEntry : ${comments.entrySet()}"
                                 th:style="${'margin-left: ' + 16 * commentEntry.getValue() + 'px'}"
                                 th:id="${'comment-' + commentEntry.getKey().id}">
                                <div class="d-flex ">
                                    <span th:if="${commentEntry.getValue() != 0}" class="my-auto border-bottom" style="margin-left: -16px; width: 16px;"></span>
                                    <a th:href="@{'/profile/' + ${commentEntry.getKey().author.id} + '/view'}"
                                       class="text-decoration-none link-body-emphasis" th:title="${commentEntry.getKey().author.name}">
                                        <img class="rounded-circle border"
                                             th:src="@{${commentEntry.getKey().author.avatar != null ?
                                                 commentEntry.getKey().author.avatar.getSrc() : '/images/no-avatar.svg'}}"
                                             width="40" height="40" style="object-fit: cover"
                                             onmouseenter="$(this).addClass('opacity-75')" onmouseleave="$(this).removeClass('opacity-75')" />
                                    </a>
                                    <div class="ms-2">
                                        <a th:href="@{'/profile/' + ${commentEntry.getKey().author.id} + '/view'}" class="text-decoration-none link-body-emphasis">
                                            <span class="h6" th:text="${commentEntry.getKey().author.name}">Author name</span>
                                        </a>
                                        <div class="text-secondary-emphasis tiny" style="margin-top: -3px;">
                                            <span th:text="${#temporals.format(commentEntry.getKey().created, 'dd.MM.yyyy HH:mm')}"></span>
                                            <span th:if="${project.author.id == commentEntry.getKey().author.id}" class="text-primary" th:text="#{project.author}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-text" style="white-space: pre-wrap;"
                                     th:text="${commentEntry.getKey().deleted} ? #{comment.deleted} : ${commentEntry.getKey().text}"
                                     th:classappend="${commentEntry.getKey().deleted ? 'text-secondary-emphasis' : ''}"
                                     th:styleappend="${commentEntry.getKey().deleted ? 'font-style: italic' : ''}">Text</div>

                                <div th:if="${!commentEntry.getKey().deleted}" class="comment-actions">
                                    <a type="button" class="like-btn btn-link link-danger text-decoration-none with-popover"
                                       th:data-id="${commentEntry.getKey().id}"
                                       data-bs-toggle="popover" data-bs-trigger="manual"
                                       th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                       th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot;' +
                                       'type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} +
                                       '</a></div>'" data-bs-html="true" onclick="likeComment($(this))">
                                        <i class="fa-heart" th:title="#{like}"
                                           th:classappend="${likedCommentsIds == null || !likedCommentsIds.contains(commentEntry.getKey().id) ?
                                            'fa-regular' : 'fa-solid'}"></i>
                                        <span class="text-secondary-emphasis small" th:title="#{like}" th:text="${commentEntry.getKey().likes.size()}"></span>
                                    </a>

                                    <a type="button" class="reply-btn btn-link text-decoration-none ms-1 with-popover"
                                       th:id="${'replyBtn-' + commentEntry.getKey().id}"
                                       data-bs-toggle="popover" data-bs-trigger="manual"
                                       th:data-bs-title="'<a type=&quot;button&quot; class=&quot;btn-close ms-2 float-end tiny&quot;></a><div>'+ #{info.only-for-auth-users}+ '</div>'"
                                       th:data-bs-content="'<div class=&quot;text-center&quot;><a href=&quot;/login&quot; type=&quot;button&quot; class=&quot;btn btn-sm btn-warning px-3&quot;>' + #{login} + '</a></div>'"
                                       data-bs-html="true"
                                       onclick="reply($(this))">
                                        <i class="fa-solid fa-share fa-rotate-270 small"></i>
                                        <span class="text-secondary-emphasis small" style="margin-left: -3px;" th:text="#{comment.reply}">Reply</span>
                                    </a>

                                    <a th:if="${authUser != null && commentEntry.getKey().author.id == authUser.id}"
                                       type="button" class="btn-link text-decoration-none ms-1" th:title="#{edit}"
                                       th:id="${'editBtn-' + commentEntry.getKey().id}" onclick="edit($(this))">
                                        <i class="fa-solid fa-pencil text-secondary small"></i>
                                    </a>

                                    <a th:if="${authUser != null && (commentEntry.getKey().author.id == authUser.id || authUser.isAdmin())}"
                                       tabindex="0" type="button" class="delete-comment-btn btn-link text-decoration-none ms-1"
                                       th:id="${'deleteCommentBtn-' + commentEntry.getKey().id}"
                                       data-bs-toggle="popover" data-bs-trigger="focus"
                                       th:data-bs-title="#{comment.delete} + '?'"
                                       th:data-bs-content="'<div class=&quot;text-center&quot;><a type=&quot;button&quot; class=&quot;btn btn-sm  btn-secondary me-2&quot;>' + #{cancel} + '</a><a type=&quot;button&quot; class=&quot;btn btn-sm btn-danger del-com&quot;>' + #{delete} + '</a></div>'"
                                       data-bs-html="true">
                                        <i th:title="#{delete}" class="fa-solid fa-trash-can text-danger small"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Image modal -->
        <div class="modal fade" id="zoomImageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <span id="zoomImageModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="" id="zoomImage" class="border" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/project.js?v=1"></script>
        <script src="/js/share-project-button.js?v=1"></script>
    </ownScript>
</th:block>
