<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="project" type="ru.javaprojects.projector.projects.model.Project"*/-->

<th:block th:replace="~{fragments/main::page(title=#{project.projects},appMain=~{::appMain}, ownScript=~{::ownScript}, activeMenuItem=${ {'projects', 'management'} })}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ms-2 flex-nowrap"  style="font-size: 1.5em;">
                <li class="breadcrumb-item text-truncate">
                    <a th:href="@{/management/projects}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <i class="fas fa-layer-group me-1"></i><span th:text="#{project.projects}"></span>
                    </a>
                </li>
                <li class="breadcrumb-item text-truncate active" aria-current="page" th:text="${project.name}">Project name</li>
            </ol>
        </nav>

        <!-- Project card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <span class="h3 text-dark-emphasis" th:text="${project.name}">Project name</span>
                        <i th:if="${!project.visible}" class="h4 fa-solid fa-eye-slash text-warning float-end"
                           th:title="#{project.invisible-to-users}"></i>
                    </div>
                    <div class="card-body text-start">
                        <div class="input-group mb-3">
                            <span class="input-group-text project-form-label" th:text="#{name}">Name</span>
                            <span class="form-control" th:text="${project.name}"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text project-form-label" th:text="#{architecture}">Architecture</span>
                                    <span class="form-control" th:text="${project.architecture.name}"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text project-form-label" th:text="#{project.dev-period}">Dev period</span>
                                    <span class="form-control" th:text="${#temporals.format(project.started, 'dd.MM.yyyy')} +
                                    ' - ' + ${#temporals.format(project.finished, 'dd.MM.yyyy')} + ' (' +
                                    ${T(java.time.temporal.ChronoUnit).DAYS.between(project.started, project.finished)} +
                                    ' ' + #{project.days} + ')'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text project-form-label" th:text="#{priority}">Priority</span>
                                    <span class="form-control" th:text="#{'priority.' + ${project.priority.name.toLowerCase()}}"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text project-form-label" th:text="#{project.visibility}">Visibility</span>
                                    <span class="form-control"
                                          th:utext="${project.visible} ? '<i class=&quot;text-success me-1 fa-solid fa-eye&quot;></i> ' + #{project.visible-to-users} :
                                          '<i class=&quot;text-warning me-1 fa-solid fa-eye-slash&quot;></i> ' + #{project.invisible-to-users}">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text project-form-label" th:text="#{logo}">Logo</span>
                                    <span class="form-control">
                                        <img th:src="@{${project.logo != null ? ('/' + project.logo.fileLink) : ''}}"
                                             width="24" height="24" id="filePreview"/>
                                        <span th:text="${project.logo?.fileName}" id="fileName">File name</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text project-form-label"
                                          th:text="#{project.docker-compose-file}">Docker compose</span>
                                    <span class="form-control">
                                        <a th:if="${project.dockerCompose != null}" th:href="@{${'/' + project.dockerCompose.fileLink}}"
                                           class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                           th:utext="'<i class=&quot;text-primary me-1 fa-brands fa-docker&quot;></i>' + ${project.dockerCompose.fileName}"
                                           target="_blank" title="Download file">File name</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text project-form-label" th:text="#{project.deploy} + ' URL'">Deploy URL</span>
                            <span class="form-control">
                                <a th:href="@{${project.deploymentUrl}}" th:text="${project.deploymentUrl}"
                                   class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   target="_blank">Deployment url</a>
                            </span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text project-form-label" th:text="#{project.open-api}   + ' URL'">Open API URL</span>
                            <span class="form-control">
                                <a th:href="@{${project.openApiUrl}}" th:text="${project.openApiUrl}"
                                   class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   target="_blank">Open API url</a>
                            </span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text project-form-label" th:text="#{backend} + ' ' + #{project.src} + ' URL'">Backend src URL</span>
                            <span class="form-control">
                                <a th:href="@{${project.backendSrcUrl}}" th:text="${project.backendSrcUrl}"
                                   class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   target="_blank">Backend src url</a>
                            </span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text project-form-label"
                                  th:text="#{frontend} + ' ' + #{project.src} + ' URL'">Frontend src URL</span>
                            <span class="form-control">
                                <a th:href="@{${project.frontendSrcUrl}}" th:text="${project.frontendSrcUrl}"
                                   class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   target="_blank">Frontend src url</a>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <div class="border rounded-2 px-3 pb-3 h-100">
                                    <div class="text-muted tiny" th:text="#{project.preview}">Preview</div>
                                    <img th:src="@{${project.preview != null ? ('/' + project.preview.fileLink) : ''}}"
                                         style="max-width: 100%; max-height: 165px; cursor: zoom-in;" class="rounded-2 mt-1"
                                         th:data-filename="${project.preview.fileName}" onclick="showLargerImage($(this))"/>
                                </div>
                            </div>
                            <div class="col-lg-8 mb-3">
                                <div class="border rounded-2 px-3 pb-3 h-100">
                                    <div class="text-start text-muted tiny" th:text="#{technology.technologies}">Technologies</div>
                                    <span th:each="technology : ${project.technologies}" class="badge bg-body-tertiary me-2 mt-1">
                                        <a type="button" th:href="@{${technology.url}}" target="_blank"
                                           class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-body-emphasis">
                                            <img th:src="@{${technology.logo != null ? ('/' + technology.logo.fileLink) : ''}}"
                                                 width="32" height="32" th:text="${technology.name}" class="align-bottom me-1"/>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-2 px-3 pb-3">
                            <div class="text-start text-muted tiny" th:text="#{project.annotation}">Annotation</div>
                            <div th:text="${project.annotation}" style="white-space: pre-wrap;"></div>
                        </div>

                        <div class="border rounded-2 px-3 pb-3 mt-3">
                            <div class="text-start text-muted tiny" th:text="#{project.tags}">Tags</div>
                            <a th:each="tag : ${project.tags}" class="text-decoration-none me-2" th:text="'#' + ${tag.name}"
                               th:href="@{'/tag/' + ${tag.id}}"></a>
                        </div>

                        <!-- Description block -->
                        <div class="fw-bold text-info-emphasis my-2" th:text="#{project.description-elements}">Description elements</div>
                        <div th:each="element : ${project.descriptionElements}" class="border rounded-2 mb-1 px-3 pb-1">
                            <div class="text-start text-muted tiny" th:text="#{'project.description-elements.' + ${element.type.name.toLowerCase()}}">Type</div>
                            <span th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).TITLE}"
                                  th:text="${element.text}" class="h6"></span>
                            <span th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).PARAGRAPH}"
                                  th:text="${element.text}" style="white-space: pre-wrap;"></span>
                            <img th:if="${element.type == T(ru.javaprojects.projector.projects.model.ElementType).IMAGE}"
                                 th:src="@{${element.image != null ? ('/' + element.image.fileLink) : ''}}"
                                 class="rounded-2 my-1 border" th:data-filename="${element.image.fileName}"
                                 style="cursor: zoom-in; max-width: 95%; max-height: 150px;"
                                 onclick="showLargerImage($(this))"/>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button class="btn btn-secondary px-3" type="button" onclick="cancelProjectDataPage()" th:text="#{close}">Close</button>
                        <a th:href="@{'/projects/edit/' + ${project.id}}" class="btn btn-warning px-4 ms-1" type="button" th:text="#{edit}">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image modal -->
        <div class="modal fade" id="largerImageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <span id="largerImageModalHeader"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="" id="largerImage" class="border" style="max-width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/cancel-button.js?v=1"></script>
        <script>
            if (sessionStorage.getItem('projectDataPagePrevUrl') == null) {
                sessionStorage.setItem('projectDataPagePrevUrl', sessionStorage.getItem('prevUrl'));
            }
            sessionStorage.removeItem('prevUrl');

            function cancelProjectDataPage() {
                let projectDataPagePrevUrl = sessionStorage.getItem('projectDataPagePrevUrl');
                if (projectDataPagePrevUrl) {
                    sessionStorage.removeItem('projectDataPagePrevUrl');
                } else {
                    projectDataPagePrevUrl = window.location.origin;
                }
                window.location.href = projectDataPagePrevUrl;
            }
        </script>
    </ownScript>
</th:block>
